/* 以下 CSS 定义自适应排版规则。主要面向小尺寸屏幕或窗口。 */

{_selectorOf_markdownArticleRoot} {
    
    // Nothing yet
}




{__wrappingSelectorOf_markdownArticleBaseThemingRules} {

    @media (max-width: 600px) {
        h1 {
            font-weight: 400;
        }
    }
}
