/* 以下 CSS 是除代码块之外的页面整体着色方案。*/

{_markdownArticleRootSelector} {
    color: #333;
    background-color: #f7f7f9;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}





{__wrappingSelectorOf_markdownArticleBaseThemingRules} {

    a {
        &:visited,
        & {
            color: #0f0fed;
        }

        // &:hover,
        // &:focus,
        // &:active {
        //     color: #0f0fed;
        // }
    }

    a[href^="#"],
    a[href^="#"]:visited {
        // So-called page local links.
        // They point to the page they are in.

        &:visited,
        & {
            color: #0f0dad;
        }

        // &:hover,
        // &:focus,
        // &:active {
        //     color: #0f0dad;
        // }
    }



    a.header-anchor[href^="#"] {
        // Permanent links created by
        // markdown-it plugin: markdown-it-anchor

        &:visited,
        & {
            color: #ccc;
        }

        &:hover,
        &:focus,
        &:active {
            color: #000;
        }
    }

    // h1, h2, h3, h4, h5, h6 {
    //     // Permanent links created by
    //     // markdown-it plugin: markdown-it-anchor

    //     > a[href^="#"] {

    //         &:visited,
    //         & {
    //             color: #ccc;
    //         }

    //         &:hover {
    //             color: inherit;    
    //         }
    
    //         &:focus,
    //         &:active {
    //             color: #000;
    //         }
    //     }
    // }


    // :target > a[href^="#"],
    :target > a.header-anchor[href^="#"] {
        // Permanent links created by
        // markdown-it plugin: markdown-it-anchor

        &:hover,
        & {
            color: rgb(21, 211, 14);
        }
    }

    img {
        color: #555;
        background-color: rgba(128, 128, 128, 0.1);
        box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.29);
    }

    h1, h2, h3, h4, h5, h6,
    dt {
        color: #000;
    }

    strong,
    b,
    em {
        color: black;
    }

    blockquote {
        color: #000;
        border-color: #f80;
        background-color: rgba(136, 136, 136, 0.2);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    }

    code,
    kbd {
        text-shadow: none !important;
    }

    code {
        color: #a34587;
        border-color: rgba(0, 0, 0, 0.219);
        background-color: white;
    }

    pre code {
        color: inherit !important;
        background-color: transparent !important;
    }

    kbd {
        color: #fff;
        border-color: #fff;
        background-color: #789abc;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.219);
    }

    input[type="checkbox"] + label {
        color: black;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    input[type="checkbox"]:checked + label {
        color: #696;
        text-shadow: -1px -1px 0 rgba(0, 128, 0, 0.1);
    }

    table {
        border-color: #111;
        background-color: white;
    }

    th {
        border-color: #222;
    }

    td {
        border-color: #bbb;
    }

    thead {
        color: #ddd;
        background-color: #444;
    }

    tbody tr:nth-child(odd) {
        background-color: transparent;
    }

    tbody tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    hr {
        color: rgba(128, 128, 128, 0.45);
        background-image: linear-gradient(to right, transparent, currentColor 150%);
    }

    hr::before {
        box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.51);
    }


    p('-----shit----------------')
    /* for Typora */
    .code-tooltip {
        color: #f96;
        background-color: #222;
    }
}
