__wrappingSelectorOf_markdownArticleBaseThemingRules = ''
if (_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector) {
    __wrappingSelectorOf_markdownArticleBaseThemingRules = _markdownArticleRootSelector
}


@import './0-font-weights'
@import './1-measurements'
@import './2-measurements-in-small-windows'
@import './3-shading'
