_optionalSecondaryTitleBlockSourceFileName = 'firefox-addon'
_optionalLayoutPartName                    = 'firefox-addon'
_optionalBaseThemingPartName               = 'firefox-addon'
_optionalCodeBlockThemingPartName          = null

_markdownArticleParentSelector = 'body'
_markdownArticleRootSelector   = '.markdownRoot'

_markdownArticleBackplateBackgroundColorCarrierSelector = 'html'

_shouldWrapLayoutRulesWith_markdownArticleRootSelector = false
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = false
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = false
