.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

pre > code {

    .hljs-comment {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}


pre,
.hljs {
    background-color: #1a1b1c;
}

pre,
.hljs {
    color: #ccc;
}

.language-xml,
.language-html {

    .javascript, // <script>
    .css { // <style>
        color: #c9c8c7;
    }
}

.hljs-comment,
.hljs-quote {
    color: #4c5;
    // background-color: #102315;
    background-color: black;
}

.hljs-tag {
    color: #555;
}

.hljs-meta {
    color: #888;
}

.hljs-doctag,
.hljs-formula {
    color blueviolet;
}

.hljs-keyword { // var, const, let, return, import
    color: #a68;
}

.hljs-function {
    color: #666;
}

.language-stylus,
.language-less,
.language-sass,
.language-css,
.css { // <style>
    .hljs-built_in {  // url, rgba, blur
        color: #d74fff;
    }
}

.hljs-function .hljs-keyword { // javascript: "function"
    // color: #d74fff;
    color: #7ae;
}

.hljs-title {
    color: #fb5;
}

.hljs-params {
    color: #6fb;
}

.hljs-name {
    color: #f79;
}

.language-xml,
.language-html {
    color: white;
}

.language-xml,
.language-html {

    .hljs-name {
        color: #dd5151;
    }
}

.hljs-section,
.hljs-deletion,
.hljs-subst {
    color: #c66;
}


.hljs-literal { // NaN, true, false
    // Defined in a standalone styl file
}


.hljs-number {
    color: #af5;
}

.language-typescript,
.language-ts,
.language-javascript,
.language-js,
.javascript { // <script>

    .hljs-attr {
        color: white;
    }
}

.hljs-addition,
.hljs-meta-string {
    color: #39f;
}

.hljs-regexp {
    // Defined in a standalone styl file.
}



.hljs-string {
    // Defined in a standalone styl file.
}

.hljs-selector-tag {
    color: #dd5151;
}

.hljs-selector-id {
    color: #f8d;
}

.hljs-selector-class {
    color: #fb6;
}

.hljs-selector-attr {
    color: #a75; // #a86
}

.hljs-attribute {
    color: #809896;
}

.hljs-selector-pseudo {
    color: #79fafe;
}



.hljs-built_in { // document, console, Array, Math
    color: #4f8;
}

.hljs-class .hljs-title {
    color: #6fa;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type {
    color: #a78057;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #3af;
}
