.hljs-built_in {
    color: unset;

    // --------- global classes and functions -----------

    &.Error, &.SyntaxError, &.EvalError, &InternalError, &.TypeError, &.ReferenceError, &.RangeError, &.URIError {
        color: #f88;
    }

    &.RegExp {
        color: #f6e;
    }

    &.Object {
        color: #f6a;
    }

    &.Math, &.Date {
        color: #f6a;
    }

    &.Array, &.Set {
        color: #f6a;
    }

    &.Number, &.Boolean, &.String {
        color: #f6a;
    }

    &.Promise {
        color: #f6a;
    }

    &.Worker {
        color: #f6a;
    }

    &.LocalStorage,
    &.Storage {
        color: #f6a;
    }




    // --------- global objects -----------

    &.window, &.global {
        // color: #a6f;
        color: #fc6;
    }

    &.document {
        color: #face79;
    }

    &.open,
    &.stop {
        // color: red;
    }

    &.setInterval,
    &.clearInterval,
    &.setTimeout,
    &.clearTimeout {
        color: #b4f;
    }

    &.prompt,
    &.confirm,
    &.alert,
    &.console {
        color: #b4f;
    }

    &.exports,
    &.module,
    &.require {
        // color: #dd5175;
        color: #b57;
    }

    &.jQuery, &.jquery {
        color: #63f;
    }

    &.lodash, &.underscorejs {
        color: #ff6;
    }


    // ---- css --------------------

    &.css-current-color {
        color: #f8f;
    }
}