.markdown-article-toc-panel {
    color: #ccc;
    background-color: #222;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.markdown-article-toc-toggling-button {
    color: white;
    background-color: #111;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

.markdown-article-toc-panel-is-visible .markdown-article-toc-toggling-button {
    color: black;
    background-color: #eee;
    /* box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.7); */
}

.markdown-article-toc-panel-is-visible .markdown-article-toc-toggling-button,
.markdown-article-toc-toggling-button {

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgb(18, 202, 18);
    }
}
