{_selectorOf_tocByMarkdownItTOCDoneRight} {
    background-color: #222;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

    &,
    li > a[href^="#"] {
        color: #aaa;
    }



    if (_shouldNotOnlyShow2LevelsOfTOCItems) {

        li.has-nested-toc-list > a[href^="#"] {
            color: white;
        }

    } else {

        > ol,
        > ul {

            > li.has-nested-toc-list > a[href^="#"] {
                color: white;
            }
        }

    }



    li > a[href^="#"]:hover {
        background-color: rgba(white, 0.15);
    }
}

.markdown-article-toc-toggling-button {
    color: black;
    border-color: #e149bb;
    background-color: #dd56c6;
    background-image: linear-gradient(45deg, #dd56c6 20%, #dee884 80%);
    box-shadow: 0 0 0.3rem rgba(150,0,79,.51);
}

// .markdown-article-toc-is-visible .markdown-article-toc-toggling-button {
// }

// .markdown-article-toc-is-visible .markdown-article-toc-toggling-button,
// .markdown-article-toc-toggling-button {

//     &:focus {
//         box-shadow: 0 0 0 4px rgb(18, 202, 18);
//     }
// }
