{__wrappingSelectorOf_markdownArticleLayoutRules} {

    a {
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
    }

    a:not([href]) {
        font-style: italic;
    }

    a[href]:hover {
        text-decoration: none;
        border-bottom-color: currentColor;
    }
}
