{__wrappingSelectorOf_markdownArticleLayoutRules} {
    
    blockquote {
        display: inline-block; // so that it has an auto width
        vertical-align: top;
        padding: 0.2em 1.6em 0.2em 1.8em;
        margin: 0.5em 1rem 1.5em 1rem;
        border-style: solid;
    }
}
