{__wrappingSelectorOf_markdownArticleLayoutRules} {

    table {
        border-style: solid;
    }

    p('故意禁用了 tr, td, th 的 border-style，试试效果')
    // tr, td, th {
    //     border-style: solid;
    // }

    td, th {
        padding: 0.25em 0.75em;
    }

    table {
        border-collapse: collapse;
        margin: 1rem auto;
        max-width: 96%;
        min-width: 60%;
    }
}
