{__wrappingSelectorOf_markdownArticleLayoutRules} {

    kbd, code {
        display: inline-block;
        vertical-align: baseline;
        line-height: 1;
        min-height: 1em;
        min-width: 0.5em;
        font-weight: normal;
        font-style: normal;
        border-style: solid;
    }

    code { // inline code phrases
        word-break: break-all;
    }

    pre {

        & {
            line-height: 1.5;
            
            // for better alignments of list-style dots,
            // when a <pre> is a child of a <li>.
            display: inline-block;
            width: 100%;
            vertical-align: top;
            
            overflow-x: auto;
            padding: 0;
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }



        &,
        > code, // source code blocks
        > code * {
            white-space: pre;
            word-wrap: normal;
            word-break: keep-all;
            text-align: left !important;
        }

        > code { // source code blocks
            line-height: inherit; // 1.5
            padding: 0.5em 1em;
            border: none !important;
            margin: 0 !important;
            border-radius: 0;
        }

        > code * {
            // Don't know why. Why it is 0.2em, instead of 0.25em.
            // But these paddingTop & paddingBottom below do work.
            padding: 0.2em 0;
        }
    }



    blockquote,
    table {

        pre:last-child {
            margin-bottom: 0.5rem;
        }
    }
}
