{__wrappingSelectorOf_markdownArticleLayoutRules} {
    
    @media (max-width: 900px) {

        blockquote {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 600px) {
        h1 {
            font-size: 1.8rem;
        }

        h2 {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 1.4rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        h5 {
            font-size: 1.1rem;
        }

        h6 {
            font-size: 1.0rem;
        }

        ul, ol {
            padding-left: 1.8em;
        }

        blockquote {
            font-size: 100%;
            margin-left: 0.7rem;
            margin-right: 0.5rem;
        }

        table {
            max-width: none;
            width: 100%;
        }

        td {
            max-width: 400px;
        }

        /* blockquote, */ table {

            pre > code {
                white-space: normal !important;
                word-break: break-all;
            }
        }

        hr {
            margin: 1.5rem auto 2rem 0;
        }
    }
}
