@import '../../theming-variables'



{_selectorOf_markdownArticleBackplateBackgroundColorCarrier} {
    background-color: #bbb;
}

if (_selectorOf_markdownArticleBackplateBackgroundColorCarrier == 'html' && _selectorOf_markdownArticleRoot != 'body') {
    body {
        background-color: transparent;
    }
}
