.CodeMirror-selected {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.CodeMirror-selectedtext {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.319) !important;
}

.CodeMirror div.CodeMirror-cursor {
    border-left-color: rgb(255, 238, 88);
}



.CodeMirror-scroll {
    color: #abb2bf;
    background-color: #282c34;
}


.cm-s-inner .cm-comment,
.cm-comment {
    color: #23ff7e;
    background-color: rgba(black, 0.2);
    // font-style: italic;
}


.cm-s-inner .cm-keyword,
.cm-keyword {
    color: #c678dd;
}



.cm-s-inner .cm-tag.cm-bracket,
.cm-s-inner .cm-atom,
.cm-s-inner .cm-operator,
.cm-tag.cm-bracket,
.cm-atom,
.cm-operator {
    color: inherit;
}



.cm-s-inner .cm-tag,
.cm-tag {
    color: #e06c75;
}


.cm-s-inner .cm-property,
.cm-s-inner .cm-string,
.cm-property,
.cm-string {
    color: #98c379;
}



.cm-s-inner .cm-variable,
.cm-s-inner .cm-variable-2,
.cm-variable-2,
.cm-variable {
    color: #e6c07b;
}



.cm-s-inner .cm-number,
.cm-s-inner .cm-attribute,
.cm-s-inner .cm-qualifier,
.cm-number,
.cm-attribute,
.cm-qualifier {
    color: #d19a66;
}



.cm-s-inner .cm-def,
.cm-s-inner .cm-builtin,
.cm-def,
.cm-builtin {
    color: #61aeee;
}
