@import '../../_global-variables-mixins-and-functions'
@import './_mixins'





{_selectorOf_article_rootParent} {
    margin: 0;

    & {
        MIXIN_forArticalParent_setPaddings(FontSize_Default)
    }

    @media screen and (min-width: 2190px) {
        MIXIN_forArticalParent_setPaddings(FontSize_WhenWindowWidthNoLessThan_2190px)
    }

    @media screen and (min-width: 2879px) {
        MIXIN_forArticalParent_setPaddings(FontSize_WhenWindowWidthNoLessThan_2879px)
    }
   
    @media (max-width: 600px) {
        padding: 0;
    }
}
