{_selectorOf_article_rootParent} {
    margin: 0;

    if (
        _selectorsOf_fontSize_baseFontSizeCarriers == _selectorOf_article_rootParent || \
        _selectorsOf_fontSize_baseFontSizeCarriers == 'body' || \
        _selectorsOf_fontSize_baseFontSizeCarriers == 'html'
    ) {
        padding 3em 1em 6em 1em
    } else {
        padding: 60px 20px 120px 20px;
    }
    
    @media (max-width: 600px) {
        padding: 0;
    }
}
