.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}


pre,
.hljs {
    color: #d2d1d0;
    background-color: #212223;
}

.hljs-comment,
.hljs-quote {
    color: #23ff7e;
    background-color: #151619;
}

.hljs-tag {
    color: #555;
}

.hljs-meta {
    color: #888;
}

.hljs-doctag,
.hljs-formula {
    color blueviolet;
}

.hljs-keyword {
    color: #a57;
}

.hljs-function {
    color: #666;
}

.language-stylus,
.language-less,
.language-sass,
.language-css,
.css { // <style>
    .hljs-built_in {  // url, rgba, blur
        color: #d74fff;
    }
}

.hljs-function .hljs-keyword { // javascript: "function"
    color: #d74fff;
}

.hljs-title,
.hljs-function .hljs-title { // javascript: function "name"
    color: #efa;
}

.hljs-params {
    color: #a75;
}

.hljs-name {
    color: #f79;
}

.language-html .hljs-name {
    color: #dd5151;
}

.hljs-section,
.hljs-deletion,
.hljs-subst {
    color: #c66;
}


.hljs-literal { // NaN, true, false
    color: #4bf;
}


.hljs-number {
    color: #af5;
}

.hljs-addition,
.hljs-meta-string {
    color: #39f;
}

.hljs-regexp {
    color: #f75;
}

.language-html .hljs-string {
    color: #ff9;
}

.javascript .hljs-string, // <script>
.hljs-string {
    color: #face79;
}

.css, // <style>
.language-css {

    .hljs-string {
        color: #39f;
    }
}



.hljs-selector-tag {
    color: #dd5151;
}

.hljs-selector-id {
    color: #f8d;
}

.hljs-selector-class {
    color: #fb6;
}

.hljs-selector-attr {
    color: #a75; // #a86
}

.hljs-attribute {
    color: #809896;
}

.hljs-selector-pseudo {
    color: #79fafe;
}



.hljs-built_in, // document, console, Array, Math
.hljs-class .hljs-title {
    color: #6fa;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type {
    color: #a78057;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #3af;
}

.javascript,
.language-ts,
.language-typescript,
.language-js,
.language-javascript {

    .hljs-attr {
        color: white;
    }
}

