/* Nothing yet */

.markdown-article {
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 6rem 4rem 14rem 4rem;
    max-width: 50rem;
    min-height: 60rem;
    margin: 0 auto;
}

.markdown-article > h1:first-child {
    margin-top: 1em;
}

.header-anchor { /* markdown-it plugin: markdown-it-anchor */
    margin-left: -0.75em; /* mark sure the content of the h1, h2 is centerized. */
}




