/* 以下 CSS 定义针对可信赖的、无需多做变更的内容。主要涉及网页内容的排版尺寸。 */

html {
    padding: 3rem 1rem 4rem 1rem;
}

body {
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 5rem 4rem 6rem 4rem;
    max-width: 50rem;
    margin: 0 auto;
}

/* body,
article,
h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, dl,
table {
    line-height: 1.5;
} */

a {
    text-decoration: none;
}

a:not([href]) {
    font-style: italic;
}

a[href]:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, dt, p {
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

pre {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1, h2, h3, h4, h5, h6, dt {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
}

h1 {
    font-size: 3rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

h2 {
    font-size: 1.8rem;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.35rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.2rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h5 {
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

/* h6 {
} */

ul, ol, dd {
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

img {
    border-style: solid;
    display: block;
    margin: 0.5rem auto 1rem auto;
    max-width: 50%;
    font-size: 80%;
    text-align: center;
}

hr {
    margin: 1rem 0.5rem 2rem;
    padding: 0;
    height: 0;
    overflow: hidden;
    border-width: 1px 0 0 0;
    border-style: solid;
}

li {
    margin: 0.5em 0;
}


ul, ol {
    padding-left: 1.5em;
}

@supports selector(::marker) {
    ul, ol {
        padding-left: 3em;
    }

    li::marker {
        margin-right: 1em;
    }
}

@-moz-document url-prefix() {
    ul, ol {
        padding-left: 3em;
    }

    li::marker {
        margin-right: 1em;
    }
}

blockquote {
    display: inline-block;
    vertical-align: top;
    margin: 0.5rem 0.8rem 1rem 1.2rem;
    padding: 0.2em 2em 0.2em 1em;
    border-style: solid;
}

ul blockquote,
ol blockquote {
    margin-left: 0;
}

kbd, code {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1;
  min-height: 1em;
  min-width: 0.5em;
  font-weight: normal;
  font-style: normal;
  border-style: solid;
}

pre {
    line-height: 1.33;
    display: block;
    overflow-x: auto;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

table {
    border-collapse: collapse;
    margin: 1rem auto;
    max-width: 90%;
}

table pre:last-child {
    margin-bottom: 0;
}

pre,
pre > code,
pre > code * {
  white-space: pre !important;
  word-wrap: none !important;
  word-break: keep-all !important;
  text-align: left !important;
}

pre > code {
    line-height: inherit;
    padding: 0.5em 1em;
    border: none !important;
    margin: 0 !important;
    border-radius: 0;
}




