/* 以下 CSS 定义自适应排版规则。主要面向小尺寸屏幕或窗口。 */

@media (max-width: 1000px) {
    html, body {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    html, body {
        font-size: 15px;
    }
    
    html {
        padding: 0;
    }

    body {
        padding: 2rem 1rem 6rem 1rem;
        box-shadow: none;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.35rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    ul, ol {
        padding-left: 1.5em;
    }
    
    blockquote {
        margin-left: 0.7rem;
        margin-right: 0.5rem;
    }

    hr {
        margin: 1.5rem auto 2rem 0;
    }
}




