# ----- 临时资料 ----------------------
临时资料/





# ----- 仅面向研发阶段的诸配置文件 -------
.circleci
.vs/**/*
.vscode
.eslintignore
.eslintrc.js
.markdownlint.json
tsconfig.json





# ----- 仅面向研发阶段的诸工具 ----------
*.sh
*.ps1
用于研发阶段的命令行工具
gulpfile.esm.js
--gulp-采用require函数的版本/





# ----- 文档集 ------------------------
# 记住！不能排除 “ 文档集/文章排版与配色效果示例集/原始的-markdown-格式的文章/ ” 这一文件夹及其子文件夹！
# 因为配套的另一款工具在运行其测试集时，须通过构建本工具之范文来证明那一款工具运转是否无误。
文档集/文章排版与配色效果示例集/以-html-格式渲染好的文章成品
文档集/文章排版与配色效果示例集/*.js
文档集/本工具集已知的功能缺陷
文档集/说明书/

# 下面这行无效。因为 npm 发布一个包时，如果找到根文件夹下的 ReadMe.html 会强行将其纳入发布内容集中。
# ReadMe.html




# ----- 测试集 ------------------------
测试集/





# ----- 不必发布的源代码 ---------------
源代码/发布的源代码/本工具作为其他-javascript-工具之依赖模块时的代码/.eslintrc.js
源代码/原始的源代码/用于设计文章排版与配色方案的代码
