.circleci
.vs/**/*
.vscode

.eslintignore
.eslintrc.js
.markdownlint.json

*.sh
*.ps1

# 记住！不能排除“文档/文章排版与配色效果示例集/原始的-markdown-格式的文章/”这一文件夹！
文档/文章排版与配色效果示例集/以-html-格式渲染好的文章成品
文档/文章排版与配色效果示例集/*.js
文档/本项目已知的功能缺陷
文档/说明书*

用于研发阶段的命令行工具
gulpfile.esm.js

测试集

源代码/原始的源代码/本工具作为其他-javascript-工具之依赖模块时的代码/.eslintrc.js
源代码/原始的源代码/用于设计文章排版与配色方案的代码

index.js.带有*
