{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    // article,
    // p,
    // blockquote,
    // ul, ol, dl,
    // table {
    //     line-height: 1.8;
    // }
    
    {languageSelectors('zh', 'hans', 'CN')} {
        letter-spacing: 0.1em;
    }
}