{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    a {
        font-size: inherit;
        text-decoration-line: underline;
        text-underline-offset: 0.15em;
        // text-decoration-color: transparent;
        text-shadow: inherit;
    }

    a:not([href]) {
        font-style: italic;
    }

    a[href^="#"] {

        &:visited,
        & {
            text-decoration-style: dotted;
            // text-decoration-color: transparent;
        }
    }

    a[href]:hover {
        text-decoration-color: currentColor;
    }
}
