{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    a {
        font-size: inherit;
        text-shadow: inherit;
    }

    a:not([href]) {
        font-style: italic;
    }

    a[href] {
        cursor: pointer;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-offset: 0.2em;
    }

    a[href^="#"] {
        text-decoration-style: dotted;
    }

    a[href]:hover {
        text-decoration-color: currentColor;
    }

    s a {

        &,
        &:hover {
            color: inherit;
            text-decoration-line: inherit;
            text-decoration-style: inherit;
            text-decoration-color: inherit;
            text-decoration-thickness: inherit;
        }
    }

    s a[href],
    a[href] s {

        &,
        &:hover {
            text-decoration-line: line-through underline;
        }
    }
}
