{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    a {
        font-size: inherit;
        text-shadow: inherit;
    }

    a:not([href]) {
        font-style: italic;
    }

    s > a[href] {
        color: inherit;
        text-decoration-line: inherit;
        text-decoration-style: inherit;
        text-decoration-color: inherit;
        text-decoration-thickness: inherit;
    }

    a[href],
    s > a[href]:hover {
        text-decoration-line: underline;
        text-underline-offset: 0.15em;
    }

    a[href^="#"],
    // a[href^="#"]:visited,
    s > a[href^="#"]:hover {
        text-decoration-style: dotted;
    }

    a[href]:hover {
        text-decoration-color: currentColor;
    }
}
