{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    table, tr, td, th {
        border-width: 0;
        border-style: solid;
    }

    td, th {
        text-align: justify
        padding: 0.25em 0.75em;
        min-width 3em
    }

    table {
        border-collapse: collapse;
        margin: 1em auto;
        max-width: 96%;
        min-width: 64%;
    }
}
