{__wrappingSelectorOf_markdownArticleLayoutRoot} {
    
    hr {
        display: block;
        position: relative;
        margin: 3em auto 4em 0;
        border-width: 0;
        height: 1px;
        width: calc(50% - 0.6em);
        overflow: visible !important;
        background-color: transparent;

        &::after,
        &::before {
            content: '';
            display: block;
            position: absolute;
        }

        &::before {
            left: calc(100% + 0.6em);
            top: 49.5%;
            width: 0.4em;
            height: 0.4em;
            margin: -0.2em 0 0 -0.2em;
            border-radius: 50%;
            background-color: currentColor;
        }

        &::after {
            left: 100%;
            width: 100%;
            height: 100%;
            margin-left: 1.2em;
            background-color: inherit;
            background-image: inherit !important;
            transform: scaleX(-1);
        }
    }
}
