{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    sub, sup {
        margin-right: 0.5em;
    }

    small, sup, sub {
        font-size: 75%;
    }

    blockquote {
        
        strong,
        b,
        em {
            color: inherit;
        }
    }
}
