{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    sub, sup {
        margin-right: 0.5em;
    }

    small, sup, sub {
        font-size: 75%;
    }

    a,
    s {

        strong,
        em {
            text-decoration-color: inherit;
            text-decoration-line: inherit;
            text-decoration-style: inherit;
            text-decoration-thickness: inherit;
        }
    }
}
