{__wrappingSelectorOf_markdownArticleLayoutRoot} {
    
    blockquote {
        box-sizing: border-box;
        display: inline-block; // so that it has an auto width
        vertical-align: top;
        border-style: solid;
        padding: 1px 1.25em 1px 1.15em;
        margin-top: 0;
        margin-bottom: 1.5em;
        margin-left: 3em;
        margin-right: 1em;
        max-width: 'calc(100% - %s)' % (@margin-left + @margin-right);
    }

    details {
        margin:  0.5em 1em 1.5em;
        padding: 0.5em 1em;
    }

    li > details {
        margin-left: 0;
        margin-right: 0;
    }

    summary {
        cursor: pointer;
        padding: 0.25em  0.5em;
        margin:  0.25em -0.25em;
    }

    pre + details {
        margin-top: -0.5em;
    }
}
