{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    li, dd {
        text-align: justify
        // line-height: 1.8;
    }

    li {
        margin: 1em 0;
        padding: 0 0.5em;
    }

    dt {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-width: 0;
    }


    ul,
    ol,
    dl {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    blockquote {

        ul,
        ol,
        dd {
            // margin-left: 0;
            // margin-right: 0;

            &:last-child {
                margin-bottom: 0.5em;
            }
        }
    }

    ul, ol {
        padding: 0 1em 0 3em;
    }



    // warn('...排版.../1-针对文章之-html-片段本身的/0-针对标准尺寸之窗口下的-html-标准标签的/9-lists.styl\n         Selectors in literal CSS code blocks will NOT be wrapped correctly.')
    // @css {@supports selector(::marker) {
    // The ::marker selector causes stylus compiler throw an error.

    //     ul, ol {
    //         padding-left: 2.5em;
    //     }

    //     li::marker {
    //         margin-right: 0.7em;
    //     }
    // }}

    @-moz-document url-prefix() {
        // At present (2019-08), only firefox supports ::marker psuedo element.

        ul, ol {
            padding-left: 2.5em;
        }

        li::marker {
            margin-right: 0.7em;
        }
    }
}
