@import '../../theming-variables'



{_selectorOf_article_backdropBackgroundColorCarrier} {
    background-color: #0d0d0d;
}

if (_selectorOf_article_backdropBackgroundColorCarrier == 'html' && _selectorOf_article_root != 'body') {
    body {
        background-color: transparent;
    }
}
