_optionalLayoutPartName           = 'vscode'
_optionalBaseThemingPartName      = 'vscode'
_optionalCodeBlockThemingPartName = 'vscode'

_selectorOf_markdownArticleParent = 'html'
_selectorOf_markdownArticleRoot   = 'body'

// _selectorOf_markdownArticleBackplateBackgroundColorCarrier = 'html'

_selectorsOf_fontFamily_baseFontFamilyCarriers = 'body' // This is important!

_markdownArticleShouldNotScrollSmoothly = true // This is important!

// _shouldWrapLayoutRulesWith_selectorOf_markdownArticleRoot = false
// _shouldWrapBaseThemingRulesWith_selectorOf_markdownArticleRoot = false
// _shouldWrapCodeBlockThemingRulesWith_selectorOf_markdownArticleRoot = false
