_optionalLayoutPartName           = 'vscode'
_optionalBaseThemingPartName      = null
_optionalCodeBlockThemingPartName = 'vscode'

_markdownArticleParentSelector = 'html'
_markdownArticleRootSelector   = 'body'

_markdownArticleBackplateBackgroundColorCarrierSelector = 'html'

_fontFamily_baseFontFamilyCarrierSelectors = 'body'

_markdownArticleShouldNotScrollSmoothly = true // This is important!
_shouldWrapLayoutRulesWith_markdownArticleRootSelector = true
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = true
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = true
