codeBlocksThemeName = 'atom-one-dark'

_markdownArticleParentSelector = 'html'
_markdownArticleRootSelector   = 'body'

_markdownArticleBackplateBackgroundColorCarrierSelector = 'html'

_shouldWrapLayoutRulesWith_markdownArticleRootSelector = true
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = true
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = true

@import '../to-assemble-all-parts'
