@import '../../utils/apply-default-value-to-variable-if-needed'

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_selectorOf_article_rootParent',
    defaultValue: 'body'
)





if lookup('_selectorOf_article_root') {
    applyDefaultValueToAGlobalVariableIfNeeded(
        variableName: '_selectorsOf_fontFamily_baseFontFamilyCarriers',
        defaultValue: _selectorOf_article_root
    )

    applyDefaultValueToAGlobalVariableIfNeeded(
        variableName: '_selectorsOf_fontSize_baseFontSizeCarriers',
        defaultValue: _selectorOf_article_root
    )
} else {
    // _selectorOf_article_root = ''

    warn('@wulechuan: Variable "_selectorOf_article_root" is set to empty.')
    _shouldWrapAllCSSRulesOf_codeBlockTheming___withSelectorOf_article_root = false

    if (_selectorOf_article_rootParent == 'body' || _selectorOf_article_rootParent == 'html') {
        applyDefaultValueToAGlobalVariableIfNeeded(
            variableName: '_selectorsOf_fontFamily_baseFontFamilyCarriers',
            defaultValue: 'html'
        )

        applyDefaultValueToAGlobalVariableIfNeeded(
            variableName: '_selectorsOf_fontSize_baseFontSizeCarriers',
            defaultValue: 'html'
        )
    } else {
        applyDefaultValueToAGlobalVariableIfNeeded(
            variableName: '_selectorsOf_fontFamily_baseFontFamilyCarriers',
            defaultValue: _selectorOf_article_rootParent
        )

        applyDefaultValueToAGlobalVariableIfNeeded(
            variableName: '_selectorsOf_fontSize_baseFontSizeCarriers',
            defaultValue: _selectorOf_article_rootParent
        )
    }
}





applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_selectorsOf_fontFamily_inlineCodes_akaTerms',
    defaultValue: 'code'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_selectorsOf_fontFamily_monospaceFontFamilyCarriers',
    defaultValue: 'kbd, pre > code'
)





applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_selectorOf_article_backdropBackgroundColorCarrier',
    defaultValue: 'html'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_selectorOf_article_headingsPermantLinkAnchors',
    defaultValue: '.header-anchor'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_selectorOf_TOC_byMarkdownItTOCDoneRight',
    defaultValue: 'nav.markdown-aritcle-toc'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_selectorOf_backToTopLink',
    defaultValue: '.markdown-article-back-to-top'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_sourceFolderNameOf_articleChiefTheming',
    defaultValue: 'theme-0'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_sourceFolderNameOf_chosenTechniqueTypeOfCodeBlocks',
    defaultValue: 'highlightjs'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldMarkImportantForValueOf_fontFamily',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldNotWriteTitleBockAtBeginningOfEachOutputCSSFile',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldIncludeGenerialOptionalPart_backToTopLink',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldNotEnableScrollSmoothlyFor_article_root',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldWrapAllCSSRulesOf_artcileLayout______withSelectorOf_article_root',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldWrapAllCSSRulesOf_articleBaseTheming_withSelectorOf_article_root',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldWrapAllCSSRulesOf_codeBlockTheming___withSelectorOf_article_root',
    defaultValue: false
)

