if !_shouldNotOutputTitleBlock {
    @import '../0-所有零件/0-留存于发布的层叠样式表文件首部的简短说明书/开篇标准内容'

    if lookup('_optionalSecondaryTitleBlockSourceFileName') {
        @import '../0-所有零件/0-留存于发布的层叠样式表文件首部的简短说明书/按需选用的附加内容/' + _optionalSecondaryTitleBlockSourceFileName
    }
}





@import '../0-所有零件/1-一些可能具有污染性的全局样式定义'





@import '../0-所有零件/2-文章排版方面的样式定义/0-核心内容'

if _shouldIncludeBackToTopLink {
    @import '../0-所有零件/2-文章排版方面的样式定义/1-按需取用的附加定义/back-to-top-link'
}

if lookup('_optionalLayoutPartName') {
    @import '../0-所有零件/2-文章排版方面的样式定义/1-按需取用的附加定义/' + _optionalLayoutPartName
}





@import '../0-所有零件/3-文章字体与配色方面的样式定义/0-配色之主体定义/' + _folderNameOf_baseTheme + '/core'

if _shouldIncludeBackToTopLink {
    @import '../0-所有零件/3-文章字体与配色方面的样式定义/0-配色之主体定义/' + _folderNameOf_baseTheme + '/optional-extra/back-to-top-link'
}

if lookup('_optionalBaseThemingPartName') {
    @import '../0-所有零件/3-文章字体与配色方面的样式定义/0-配色之主体定义/' + _folderNameOf_baseTheme + '/optional-extra/' + _optionalBaseThemingPartName
}

@import '../0-所有零件/3-文章字体与配色方面的样式定义/1-针对代码块之代码着色之定义'





@import '../0-所有零件/4-附加的样式定义'
