/*
    以下 CSS 针对自定义类。它们并不通用。自动化程序例如 markdown-it
    或 Typora 也无从更具标准的 MarkDown 语法来产生一些的 CSS 类名。
    因此，除非在 MarkDown 文件中手工注入这些 CSS 类名，它们无效用。
*/

{_markdownArticleRootSelector} {
    & {
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 6rem 4rem 14rem 4rem;
        max-width: 50rem;
        min-height: 60rem;
        margin: 0 auto;
        word-break: break-word;
        // word-wrap: break-word;
        // line-break: strict;
    }

    if (!_markdownArticleShouldNotScrollSmoothly) {
        scroll-behavior: smooth;
    }

    > h1:first-child {
        margin-top: 1em;
    }
}




{__wrappingSelectorOf_markdownArticleLayoutRules} {

    .document-author {
        text-align: center;
    }

    // markdown-it plugin: markdown-it-anchor
    .header-anchor {
        margin-left: -0.75em; // mark sure texts of the h1, h2 are centered.
    }

    blockquote, th, td {

        > h6,
        > h5,
        > h4,
        > h3,
        > h2,
        > h1 {

            .header-anchor {
                display: none;
            }
        }
    }
}
