/*!
    以下 CSS 针对自定义类。
    除非在 Markdown 文件中手工注入这些 CSS 类名，
    否则它们并不通用。
*/


{_markdownArticleRootSelector} {
    & {
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 6rem 4rem 14rem 4rem;
        max-width: 50rem;
        min-height: 60rem;
        margin: 0 auto;
        word-break: break-word;
        // word-wrap: break-word;
        // line-break: strict;
    }


    > h1:first-child {
        margin-top: 1em;
    }
}


{__wrappingSelectorOf_markdownArticleLayoutRules} {

    .document-author {
        text-align: center;
    }

    // markdown-it plugin: markdown-it-anchor
    .header-anchor {
        margin-left: -0.75em; // mark sure texts of the h1, h2 are centered.
    }
}
