& {
    // Those !important directives below
    // are for Microsoft Visual Studio Code Previews Environment.
    regularTextColor = #333;

    chiefColor1 = #088aee;
    chiefColor1Active = (chiefColor1 + 10%);

    linkColor = chiefColor1;
    linkColorActive = chiefColor1Active;

    inSiteLinkColor = #5187b3;
    inSitelinkColorActive = (inSiteLinkColor + 10%);

    inlineCodeColor = #a34587;
    snippetBlockCodeDefaultColor = #aaa;
    defaultDividingLineColor = rgba(black, 0.219);


    color: regularTextColor;
    background-color: #f4f4f4;

    a {
        &,
        &:visited {
            color: linkColor;
        }

        &:hover,
        &:focus,
        &:active {
            color: linkColorActive;
        }

        &[href^="#"] {
            &,
            &:visited {
                color: inSiteLinkColor;
            }

            &:hover,
            &:focus,
            &:active {
                color: inSitelinkColorActive;
            }
        }
    }

    img {
        border-color: rgba(#888, 0.5);
    }

    strong, b, em,
    h1, h2, h3, h4, h5, h6, dt {
        color: black;
    }

    blockquote {
        color black;
    }

    em, b, strong {
        color: black;
    }

    p, ol, ul, dl,
    table {
        color: regularTextColor;
    }

    strong, b, em,
    h1, h2, h3, h4, h5, h6,
    p, ol, ul, dl,
    blockquote,
    table {
        code {
            color:            inlineCodeColor !important;
            border-color:     defaultDividingLineColor;
            background-color: rgba(white, 0.319);
        }
    }

    kbd {
        color:            #fff;
        border-color:     #fff;
        background-color: #789abc;
        box-shadow: 1px 1px 1px 0 rgba(black, 0.219);
    }

    hr {
        border-color: defaultDividingLineColor;
        background-color: defaultDividingLineColor;
    }

    table, td, th {
        border-color: #999 !important;
    }

    pre {
        background-color: #131313 !important;

        code {
            color: snippetBlockCodeDefaultColor !important;
            background-color: transparent !important;

            > * {
                background-color: transparent !important;
            }
        }
    }

    blockquote {
        background-color: rgba(#888, 0.1) !important;
        border-color: chiefColor1;
    }
}