/*
    以下层叠样式表内容主要涉及“自定义类名”。这些类名它们并不通用。
    自动化程序（如 markdown-it 或 Typora ）也无法在由标准的
    MarkDown 内容产生的 HTML 中创造出使用这些自定义类名的 HTML 标签。

    因此，这些类名无效用，除非在 MarkDown 文件中手工注入采用这些类名的 HTML 标签。
*/

{_selectorOf_article_root} {

    & {
        line-height: 1.8;
        padding-top: 6em;
        padding-bottom: 14em;
        padding-left: 4em;
        padding-right: 4em;
        max-width: 51em;
        min-height: 60em;
        margin: 0 auto;
        word-break: break-word;
        // word-wrap: break-word;
        // line-break: strict;
    }

    if (!_shouldNotEnableScrollSmoothlyFor_article_root) {
        scroll-behavior: smooth;
    }

    > h1:first-child {
        margin-top: 1em;
    }
}

// .markdown-article-toc-is-visible {

//     {_selectorOf_article_root} {
//         padding-left:  3em;
//         padding-right: 3em;
//     }
// }



{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    .author,
    .document-author,
    .article-author {
        text-indent: 0;
        text-align: center;
    }

    .text-centered,
    .centered {
        text-indent: 0;
        text-align: center;
    }

    .align-rightwards,
    .text-align-rightwards,
    .texts-align-rightwards {
        text-indent: 0;
        text-align: right;
    }

    {languageSelectors('zh', 'hans', 'CN')} {

        .author,
        .document-author,
        .article-author {
            text-indent: 0;
        }

        .text-centered,
        .centered {
            text-indent: 0;
        }

        .align-rightwards,
        .text-align-rightwards,
        .texts-align-rightwards {
            text-indent: 0;
        }
    }



    .hidden-spacebar-between-head-linkage-and-head-text {
        display: inline-block;
        width: 1px;
        height: 1px;
        margin-right: -1px;
        overflow: hidden;
    }

    /* markdown-it plugin: markdown-it-anchor */
    {_selectorOf_article_headingsPermantLinkAnchors},
    a{_selectorOf_article_headingsPermantLinkAnchors} {
        margin-top: -0.1667em;
        margin-bottom: 0em;
        margin-left:  -1.65em;
        margin-right: 0.15em;
        box-sizing: border-box;
        padding: 0.25em 0;
        min-width: 1.5em;
        text-align: center;
        font-weight: normal;
        border-radius: 0.25em;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        letter-spacing: 0;
        text-decoration-line: none;
    }

    blockquote, th, td {

        > h6,
        > h5,
        > h4,
        > h3,
        > h2,
        > h1 {

            {_selectorOf_article_headingsPermantLinkAnchors} {
                display: none;
            }
        }
    }
}
