/*
    以下层叠样式表内容主要涉及“自定义类名”。这些类名它们并不通用。
    自动化程序（如 markdown-it 或 Typora ）也无法在由标准的
    MarkDown 内容产生的 HTML 中创造出使用这些自定义类名的 HTML 标签。

    因此，这些类名无效用，除非在 MarkDown 文件中手工注入采用这些类名的 HTML 标签。
*/

{_selectorOf_article_root} {

    & {
        line-height: 1.6;
        padding: 6em 4em 14em 4em;
        max-width: 51em;
        min-height: 60em;
        margin: 0 auto;
        word-break: break-word;
        // word-wrap: break-word;
        // line-break: strict;
    }

    if (!_shouldNotEnableScrollSmoothlyFor_article_root) {
        scroll-behavior: smooth;
    }

    > h1:first-child {
        margin-top: 1em;
    }
}

.markdown-article-toc-is-visible {

    {_selectorOf_article_root} {
        padding-left:  3em;
        padding-right: 3em;
    }
}



{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    .document-author {
        text-indent: 0;
        text-align: center;
    }

    .centered {
        text-indent: 0;
        text-align: center;
    }

    {languageSelectors('zh', 'hans', 'CN')} {
        .document-author {
            text-indent: 0;
        }

        .centered {
            text-indent: 0;
        }
    }



    /* markdown-it plugin: markdown-it-anchor */
    {_selectorOf_article_headingsPermantLinkAnchors} {
        margin-left: -1em;
        text-decoration-line: none;
    }

    blockquote, th, td {

        > h6,
        > h5,
        > h4,
        > h3,
        > h2,
        > h1 {

            {_selectorOf_article_headingsPermantLinkAnchors} {
                display: none;
            }
        }
    }
}
