__wrappingSelectorOf_markdownArticleCodeBlockThemingRules = ''
if _shouldWrapCodeBlockThemingRulesWith_selectorOf_markdownArticleRoot {
    __wrappingSelectorOf_markdownArticleCodeBlockThemingRules = _selectorOf_markdownArticleRoot
}

{__wrappingSelectorOf_markdownArticleCodeBlockThemingRules} {
    @import './' + _folderNameOf_codeBlocksType + '/' + codeBlocksThemeName

    if lookup('_optionalCodeBlockThemingPartName') {
        @import './optional-extra/' + _optionalCodeBlockThemingPartName
    }
}
