__wrappingSelectorOf_markdownArticleCodeBlockThemingRules = ''
if _shouldWrapAllCSSRulesOf_codeBlockTheming___withSelectorOf_article_root {
    __wrappingSelectorOf_markdownArticleCodeBlockThemingRules = _selectorOf_article_root
}



{__wrappingSelectorOf_markdownArticleCodeBlockThemingRules} {
    @import './' + _sourceFolderNameOf_chosenTechniqueTypeOfCodeBlocks + '/' + REQUIRED_sourceFolderNameOf_chosenThemingTypeOfCodeBlocks

    if lookup('_sourceFileOrFolderNamesOf_codeBlockTheming____additionalParts') {
        @import './optional-extra/' + _sourceFileOrFolderNamesOf_codeBlockTheming____additionalParts
    }
}
