_optionalSecondaryTitleBlockSourceFileName = 'firefox-addon'
_optionalLayoutPartName                    = 'firefox-addon'
_optionalBaseThemingPartName               = 'firefox-addon'
_optionalCodeBlockThemingPartName          = null

_selectorOf_markdownArticleParent = 'body'
_selectorOf_markdownArticleRoot   = '.markdownRoot'

_selectorOf_markdownArticleBackplateBackgroundColorCarrier = 'html'

_shouldWrapLayoutRulesWith_selectorOf_markdownArticleRoot = false
_shouldWrapBaseThemingRulesWith_selectorOf_markdownArticleRoot = false
_shouldWrapCodeBlockThemingRulesWith_selectorOf_markdownArticleRoot = false
