{_selectorOf_markdownArticleParent} {
    padding: 3rem 1rem 4rem 1rem;
}

if (_selectorOf_markdownArticleParent != 'body') {
    {_selectorOf_markdownArticleParent} {
        margin: 0;
    }
}
