{_markdownArticleParentSelector} {
    padding: 3rem 1rem 4rem 1rem;
}

if (_markdownArticleParentSelector != 'body') {
    {_markdownArticleParentSelector} {
        margin: 0;
    }
}

// if (!_shouldWrapLayoutRulesWith_markdownArticleRootSelector) {
//     body {
//         line-height: 1.5;
//     }
// }
