@import '../../theming-variables'



@media screen {

    {_selectorOf_backToTopLink} {

        &[href^="#"] {

            &,
            &:visited {
                color: black;

                &::before {
                    background-color: lime;
                    background-image: linear-gradient(-45deg, cyan 15%, lime 79%);
                    box-shadow: 1px 1px 0.3em rgba(0, 192, 0, 0.6);
                }
            }
        }
    }
}
