__fontFamily_importantMark = ''

if (_fontFamily_shouldMarkAsImportantRule) {
    __fontFamily_importantMark = '!important'
}

{_selectorsOf_fontFamily_baseFontFamilyCarriers}, button, input, textarea, select {
    font-family: 'Segoe UI', '微软雅黑', 'Microsoft Yahei UI', 'Microsoft Yahei', 'Lucida Grande', Helvetica, sans-serif unquote(__fontFamily_importantMark);
}

{_selectorsOf_fontFamily_monospaceFontFamilyCarriers} {
    font-family: 'consolas', 'Courier New', Courier, 'PT Mono', 'Microsoft Yahei UI', 'Microsoft Yahei', '微软雅黑', monospace unquote(__fontFamily_importantMark);
}
