@media (max-width: 900px) {

    {_selectorOf_markdownArticleRoot} {
        // line-height: 1.8;
        padding-top:    3em;
        padding-bottom: 7em;
    }

    .markdown-article-toc-is-visible {_selectorOf_markdownArticleRoot},
    {_selectorOf_markdownArticleRoot} {
        padding-left:  3em;
        padding-right: 3em;
    }
}

@media (max-width: 600px) {

    .markdown-article-toc-is-visible {_selectorOf_markdownArticleRoot},
    {_selectorOf_markdownArticleRoot} {
        padding-left:  1.5em;
        padding-right: 1.5em;
    }
}





{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    // nothing yet
}
