@media (max-width: 900px) {

    {_selectorOf_article_root} {
        // line-height: 1.8;
        padding-top:    3em;
        padding-bottom: 7em;
    }

    .markdown-article-toc-is-visible {_selectorOf_article_root},
    {_selectorOf_article_root} {
        padding-left:  3em;
        padding-right: 3em;
    }
}

@media (max-width: 600px) {

    .markdown-article-toc-is-visible {_selectorOf_article_root},
    {_selectorOf_article_root} {
        padding-left:  1.5em;
        padding-right: 1.5em;
    }

    /* markdown-it plugin: markdown-it-anchor */
    {_selectorOf_article_headingsPermantLinkAnchors},
    a{_selectorOf_article_headingsPermantLinkAnchors} {
        margin-left: -0.5em;
    }
}





{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    // nothing yet
}
