@import '../../../_global-variables-mixinx-and-functions'
@import '../../theming-variables'



{_selectorOf_article_backdropBackgroundColorCarrier} {
    background-color: #bbb;
}

{_selectorOf_article_rootParent} {
    MIXIN_DefineFireFoxScrollBar(#333);
    MIXIN_DefineWebkitScrollBar($BaseColor: black, $SizeScale: 1.5);
}

if (_selectorOf_article_backdropBackgroundColorCarrier == 'html' && _selectorOf_article_root != 'body') {
    body {
        background-color: transparent;
    }
}
