@media (max-width: 900px) {

    {_selectorOf_markdownArticleRoot} {
        font-size: 1rem;
        line-height: 1.8;

        padding-top:    3rem;
        padding-bottom: 7rem;
    }

    .markdown-article-toc-is-visible {_selectorOf_markdownArticleRoot},
    {_selectorOf_markdownArticleRoot} {
        padding-left:  3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 600px) {

    .markdown-article-toc-is-visible {_selectorOf_markdownArticleRoot},
    {_selectorOf_markdownArticleRoot} {
        padding-left:  1.5rem;
        padding-right: 1.5rem;
    }
}




{__wrappingSelectorOf_markdownArticleLayoutRules} {

    // nothing yet
}
