body.has-toc.toc-is-visible {
    margin-left: 20rem;
}





.toc-is-visible .table-of-contents-panel {
    position: fixed;
    z-index: 30;
}
.markdown-article-toc-toggling-button {
    position: fixed;
    z-index: 60;
}




.table-of-contents-panel {
    display: none;
    font-size: 0.8rem;

    box-sizing: border-box;
    width: 20rem;
    max-width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    margin: 0;
    padding: 3rem 0.5rem 1rem 0.5rem;
}

.toc-is-visible .table-of-contents-panel {
    display: block;
}



/*
    以下规则无效用。
    因为我故意设计了 .toc-is-visible 类名。
    该类名显然会覆盖 :focus-within 的作用。
*/
/* .toc-is-visible .table-of-contents-panel:focus-within {
    display: none;
} */



nav.table-of-contents {
    scroll-behavior: smooth;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

nav.table-of-contents > ul,
nav.table-of-contents > ol {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 1.5rem 6rem 2rem;

    margin: 0;

    white-space: nowrap;
}

nav.table-of-contents a[href^="#"]:visited,
nav.table-of-contents a[href^="#"] {
    color: inherit;
    text-decoration: none;
}

nav.table-of-contents > ol ol ol,
nav.table-of-contents > ul ul ul {
    display: none;
}



.markdown-article-toc-toggling-button {
    font-size: 0.7rem;

    display: block;
    border: 1px solid transparent;
    line-height: 1;
    padding: 0.5em 1.2em;
    border-radius: 2rem;
    top: 0.8rem;

    cursor: pointer;

    transition: all 0.3s;
    
    left: 1rem;
    transform: translateX(0);
    color: white;
    background-color: #111;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

.toc-is-visible .markdown-article-toc-toggling-button {
    left: 10rem;
    transform: translateX(-50%);
    color: black;
    background-color: #eee;
    /* box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.7); */
}

.toc-is-visible .markdown-article-toc-toggling-button:focus,
.markdown-article-toc-toggling-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgb(18, 202, 18);
}



.markdown-article-toc-toggling-button::before {
    content: 'TOC';
    font-family: sans-serif;
}

html[lang*="hans" i] .markdown-article-toc-toggling-button::before,
html[lang*="CN"   i] .markdown-article-toc-toggling-button::before,
html[lang*="zh"]     .markdown-article-toc-toggling-button::before {
    content: '目录';
}

