__wrappingSelectorOf_markdownArticleCodeBlockThemingRules = ''
if _shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector {
    __wrappingSelectorOf_markdownArticleCodeBlockThemingRules = _markdownArticleRootSelector
}

{__wrappingSelectorOf_markdownArticleCodeBlockThemingRules} {
    @import './' + _codeBlocksTypeName + '/' + codeBlocksThemeName

    if lookup('_optionalCodeBlockThemingPartName') {
        @import './optional-extra/' + _optionalCodeBlockThemingPartName
    }
}
