__wrappingSelectorOf_markdownArticleCodeBlockThemingRules = ''
if _shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector {
    __wrappingSelectorOf_markdownArticleCodeBlockThemingRules = _markdownArticleRootSelector
}

{__wrappingSelectorOf_markdownArticleCodeBlockThemingRules} {
    @import './' + _codeBlocksTypeName + '/' + codeBlocksThemeName
}
