{_fontFamily_baseFontFamilyCarrierSelectors} {
    font-family: 'Segoe UI', 'Microsoft Yahei UI', 'Microsoft Yahei', '微软雅黑', 'Lucida Grande', Helvetica, sans-serif;
}

{_fontFamily_monospaceFontFamilyCarrierSelectors} {
    font-family: 'PT Mono', 'consolas', 'Courier New', Courier, monospace, 'Microsoft Yahei UI', 'Microsoft Yahei', '微软雅黑';
}
