@import './markdown-article-parents'

$ {
    _wrappingSelector = ''
    if (_shouldWrapBaseLayoutRulesWith_markdownArticleRootSelector) {
        _wrappingSelector = _markdownArticleRootSelector
    }

    {_wrappingSelector} {
        @import './markdown-article/*'
    }
}
