/* .typora-node > content {
    background-color: #bbb;
} */

.typora-node #write {
    color: #333;
    background-color: #f7f7f9;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}

.code-tooltip {
    color: #f96;
    background-color: #222;
}
