{_markdownArticleBackplateBackgroundColorCarrierSelector} {
    background-color: #bbb;
}

if (_markdownArticleBackplateBackgroundColorCarrierSelector == 'html' && _markdownArticleRootSelector != 'body') {
    body {
        background-color: transparent;
    }
}
