@import '../../theming-variables'



{_selectorOf_backToTopLink} {

    &[href^="#"] {

        &,
        &:visited {
            color: black;
            background-color: lime;
            background-image: linear-gradient(-45deg, cyan 10%, lime 90%);
            box-shadow: 1px 1px 0.3em rgba(0, 192, 0, 0.6);
        }
    }
}
