/* Typora NEEDs these width to be within 100%. */
h1, h2, h3, h4, h5, h6, dt, p {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

pre {
    border-radius: 0;
    overflow: visible;
}

.CodeMirror-scroll {
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    line-height: 1.33;
}

.md-fences .code-tooltip {
    top: -2em;
    bottom: auto;
    border-radius: 0.2rem;
}



/*
    The rule below is not applied due to the
    size of fake "selected text backplate" requires
    the build-in 4px padding-left and padding-right
    of the pre.CodeMirror-line.
*/
/* .CodeMirror-code pre.CodeMirror-line {
    padding: 0;
} */
