{_selectorOf_markdownArticleRoot} {

    @media (max-width: 900px) {
        line-height: 1.8;
        padding: 3rem 2rem 7rem 2rem;
    }
}




{__wrappingSelectorOf_markdownArticleLayoutRules} {

    // nothing yet
}
