codeBlocksThemeName = 'atom-one-dark'

_optionalPartName = 'firefox-addon'

_markdownArticleParentSelector = '???'
_markdownArticleRootSelector   = '???'

_markdownArticleBackplateBackgroundColorCarrierSelector = 'html'

_shouldWrapLayoutRulesWith_markdownArticleRootSelector = false
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = false
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = false

@import '../to-assemble-all-parts'
