/*
    以下 CSS 为针对由 highlight.js 所构造的代码块的视觉样式之方案。
    其内容之主体，来源于
        https://highlightjs.org/static/demo/
    中的【Atom One Dark】主题。
*/

pre,
.hljs {
    color: #ccc;
    background-color: #2a2b2c;
}

.hljs-comment,
.hljs-quote {
    color: #23ff7e;
    background-color: black;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #d74fff;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
    color: #ffed9c;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #f48a54;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #a78057;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #33a2ff;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration-line: underline;
}
