nav.table-of-contents {

    & {
        font-size: 0.8rem;
        box-sizing: border-box;
        width: tocPanel_defaultWidth;
        max-width: 100%;
        height: 100%;
        padding: 3rem 0.5rem 1rem 0.5rem;
        overflow: auto;

        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        // scroll-behavior: smooth;
    }

    a[href^="#"] {
        display: block;
        padding: 0.25em 0.5em;
        border: none;
        text-decoration: none;
    }

    li {
        cursor: pointer;
        margin: 0;
    }

    > ul,
    > ol {

        & {
            box-sizing: border-box;
            height: 100%;
            overflow: auto;
            padding: 0.5rem 1.5rem 4.5rem 2rem;
            margin: 0;
            white-space: nowrap;
        }

        ol, ul {

            ol, ul {
                display: none;
            }
        }
    }
}
