nav.table-of-contents {
    & {
        scroll-behavior: smooth;
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
    }

    > ul,
    > ol {

        & {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 1.5rem 6rem 2rem;
            margin: 0;
            white-space: nowrap;
        }

        ol, ul {

            ol, ul {
                display: none;
            }
        }
    }

    a[href^="#"] {

        &:visited,
        & {
            color: inherit;
            text-decoration: none;
        }
    }
}
