@media screen and (min-width: 801px) {

    {_selectorOf_tocByMarkdownItTOCDoneRight} li.is-collapsed {

        > li,
        > ol {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {

    {_selectorOf_markdownArticleParent}.markdown-article-toc-exists.markdown-article-toc-is-visible {
        margin-left: 0;
    }

    {_selectorOf_tocByMarkdownItTOCDoneRight} {
        width: tocPanel_widthWhenWindowWidthNoMoreThan800;
    }

    .markdown-article-toc-is-visible .markdown-article-toc-toggling-button {
        left: (tocPanel_widthWhenWindowWidthNoMoreThan800 / 2);
    }
}

@media screen and (max-width: 600px) {

    {_selectorOf_tocByMarkdownItTOCDoneRight} {
        width: tocPanel_widthWhenWindowWidthNoMoreThan600;
    }

    .markdown-article-toc-toggling-button,
    .markdown-article-toc-is-visible .markdown-article-toc-toggling-button {
        left: (tocPanel_widthWhenWindowWidthNoMoreThan600 / 2);
        transform: translateX(-50%);
    }
}
