.markdown-article-toc-toggling-button {
    font-size: 0.7rem;

    display: block;
    border: 1px solid transparent;
    line-height: 1;
    padding: 0.5em 1.2em;
    border-radius: 2rem;
    top: 0.8rem;

    cursor: pointer;

    transition: all 0.3s;
    
    left: 1rem;
    transform: translateX(0);
}

.markdown-article-toc-panel-is-visible .markdown-article-toc-toggling-button {
    left: (tocPanel_defaultWidth / 2);
    transform: translateX(-50%);
}

.markdown-article-toc-toggling-button::before {
    content: 'TOC';
    font-family: sans-serif;
}

// [ i] 修饰器，忽略大小写。
[lang*="hans" i] .markdown-article-toc-toggling-button::before,
[lang*="CN"   i] .markdown-article-toc-toggling-button::before,
[lang*="zh"   i] .markdown-article-toc-toggling-button::before,

// 以防万一旧版浏览器不支持 [ i] 修饰器。
[lang*="hans"  ] .markdown-article-toc-toggling-button::before,
[lang*="CN"    ] .markdown-article-toc-toggling-button::before,
[lang*="zh"    ] .markdown-article-toc-toggling-button::before {
    content: '目录';
}
