.markdown-article-toc-toggling-button {
    font-size: 0.7rem;

    display: block;
    border: 1px solid transparent;
    line-height: 1;
    padding: 0.5em 1.2em;
    border-radius: 2rem;
    top: 0.8rem;

    cursor: pointer;

    transition: all 0.3s;
    
    left: 1rem;
    transform: translateX(0);
    color: white;
    background-color: #111;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

.markdown-article-toc-panel-is-visible .markdown-article-toc-toggling-button {
    left: 10rem;
    transform: translateX(-50%);
    color: black;
    background-color: #eee;
    /* box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.7); */
}

.markdown-article-toc-panel-is-visible .markdown-article-toc-toggling-button,
.markdown-article-toc-toggling-button {

    &:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgb(18, 202, 18);
    }
}



.markdown-article-toc-toggling-button::before {
    content: 'TOC';
    font-family: sans-serif;
}

[lang*="hans" i] .markdown-article-toc-toggling-button::before,
[lang*="CN"   i] .markdown-article-toc-toggling-button::before,
[lang*="zh"   i] .markdown-article-toc-toggling-button::before {
    content: '目录';
}
