@media (max-width: 800px) {
    {_markdownArticleParentSelector}.markdown-article-toc-panel-exists.markdown-article-toc-panel-is-visible {
        margin-left: 0;
    }

    .markdown-article-toc-panel {
        width: tocPanel_widthWhenWindowWidthNoMoreThan800;
    }

    .markdown-article-toc-panel-is-visible .markdown-article-toc-toggling-button {
        left: (tocPanel_widthWhenWindowWidthNoMoreThan800 / 2);
    }
}

@media (max-width: 600px) {
    .markdown-article-toc-panel {
        width: tocPanel_widthWhenWindowWidthNoMoreThan600;
    }
    
    .markdown-article-toc-toggling-button,
    .markdown-article-toc-panel-is-visible .markdown-article-toc-toggling-button {
        left: (tocPanel_widthWhenWindowWidthNoMoreThan600 / 2);
        transform: translateX(-50%);
    }
}
