tocPanel_defaultWidth = 24rem
tocPanel_widthWhenWindowWidthNoMoreThan800 = 32rem
tocPanel_widthWhenWindowWidthNoMoreThan600 = 100%

zIndex_tocPanel = 30
zIndex_tocTogglingButton = 60

@import './0-extra-wrappers-designed-by-wulechuan'
@import './1-raw-table-of-contents'
@import './2-toggling-button'
@import './3-everything-in-small-windows'
