/* 以下 CSS 是针对打印机等媒体的样式。 */

@media print {
    /*
    *,
	*::before,
	*::after {
		// background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
    }
    */

    a:visited,
    a {
        text-decoration-line: underline !important;
    }

    a[href]::after {
        content: ' (' attr(href) ')' !important;
    }

    abbr[title]::after {
        content: ' (' attr(title) ')' !important;
    }

    a[href^='#']::after,
    a[href^='javascript:']::after {
        content: '' !important;
    }

    b,
    strong {
        font-weight: bold !important;
    }

    pre,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    /* img {
        max-width: 100% !important;
    } */

    h2, h3, p {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    .hidden-spacebar-between-head-linkage-and-head-text {
        display: inline;
    }
}




