// ----------- title block of ouptut css file --------------------------------

if !_shouldNotOutputTitleBlock {
    @import '../0-titles-for-output-css/_default-title'

    if lookup('_optionalSecondaryTitleBlockSourceFileName') {
        @import '../0-titles-for-output-css/optional-secondary-titles/' + _optionalSecondaryTitleBlockSourceFileName
    }
}





// ----------- base definitions ----------------------------------------------

@import '../1-base'





// ----------- layout definitions --------------------------------------------

@import '../2-layout/core'

if lookup('_optionalLayoutPartName') {
    @import '../2-layout/optional-extra/' + _optionalLayoutPartName
}




// ----------- theming 1: base theming ---------------------------------------

@import '../3-theming/base-themes/' + _baseThemeName + '/core'

if lookup('_optionalBaseThemingPartName') {
    @import '../3-theming/base-themes/' + _baseThemeName + '/optional-extra/' + _optionalBaseThemingPartName
}




// ----------- theming 2: theming for code blocks -----------------------------

@import '../3-theming/code-blocks-themes'




// ----------- extra: e.g. printing media -------------------------------------

@import '../4-extra'
