@import '../../_global-variables-mixins-and-functions'





TOCPanel_defaultWidth = 22em
TOCPanel_width_whenWindowWidthNoMoreThan_1400px = 18em

// Window innerWidth 1000px or narrower, TOC floats over aritlce
TOCPanel_width_whenWindowWidthNoMoreThan_1000px = 27em
TOCPanel_width_whenWindowWidthNoMoreThan_600px = 100%





MIXIN_forArticleParent_setMarginLeft(TOCPanel_fontSize_unitInPixels, TOCPanel_width_unitInEMs) {
    // p(unquote('TOCPanel_width_unitInEMs') TOCPanel_width_unitInEMs)
    $ratio = FUNC_GetRatioOf_FontSizeOfCurrentScopeOverFontSizeOfArticleParent(TOCPanel_fontSize_unitInPixels)

    if (unit(TOCPanel_width_unitInEMs) == 'em') {
        margin-left TOCPanel_width_unitInEMs * $ratio
    }
}
