@import '../../_global-variables-mixins-and-functions'



{_selectorOf_TOC_byMarkdownItTOCDoneRight} {
    MIXIN_defineFontSizes();
}



@media screen {

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} {

        & {
            user-select: text;
            box-sizing: border-box;
            width: TOCPanel_width__default;
            max-width: 100%;
            height: 100%;
            padding: 3em 0.5em 1.5em 0.5em;
            overflow: auto;

            position: fixed;
            left: 0;
            top: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            overflow: auto;
            // scroll-behavior: smooth;
        }



        ol, ul {
            counter-reset: wlc-article-toc;
            margin: 0 0 2em;
        }

        > ol,
        > ul {
            font-size: 0.8em;
            margin-bottom: 0;
            box-sizing: border-box;
            padding: 0.5em 0.5em 4.5em 0.5em;
            height: 100%;
            overflow: auto;

            ol {
                padding: 0 0 0 0.5em;
            }

            ul {
                padding: 0 0 0 2em;
            }
        }

        &.should-show-2-levels-at-most {

            > ol,
            > ul {

                > li {

                    > ol,
                    > ul {

                        > li {

                            ol, ul {
                                display: none;
                            }
                        }
                    }
                }
            }
        }



        li {
            cursor: pointer;
            margin: 0.25em 0;
            line-height: 1.5;
            padding-right: 0;
            position: relative;

            &::before,
            > a[href^="#"] {
                display: block;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
                border-width: 1px 0;
                border-style: solid none;
                transition-property: color, background-color, border-color;
                transition-duration: 0.36s;
                transition-timing-function: ease-out;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                text-align: right;
                border-color: transparent;
            }

            > a[href^="#"] {
                padding-right: 0.5em;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 0;
                text-decoration-line: none;
            }
        }



        // @counter-style counter-sytle__wlc-article-toc {
        //     system: symbols;
        //     symbols: counters(wlc-article-toc, '.', wlc-article-toc);
        // }

        MIXIN_DefineLiLeftSpaceWidth($LiLeftSpaceWidthForIndices = 4.75em) {
            & {
                padding-left: $LiLeftSpaceWidthForIndices;

                &::before {
                    width: $LiLeftSpaceWidthForIndices;
                }

                > a[href^="#"] {
                    padding-left: ($LiLeftSpaceWidthForIndices + 1em);
                    margin-left: (-1 * $LiLeftSpaceWidthForIndices);
                }
            }
        }

        ol > li {
            counter-increment: wlc-article-toc;
            // list-style-type: counter-sytle__wlc-article-toc;
            list-style-type: none;
            MIXIN_DefineLiLeftSpaceWidth();

            &::before {
                content: counters(wlc-article-toc, '.', wlc-article-toc);
            }
        }

        > ol {
            margin-left: 0;

            > li {
                MIXIN_DefineLiLeftSpaceWidth(2em);
            }
        }

        > ol,
        > ul {

            > li {

                > ol {
                    margin-left: -1em;

                    > li {
                        MIXIN_DefineLiLeftSpaceWidth(2.75em);
                    }
                }

                > ol,
                > ul {

                    > li {

                        > ol {
                            margin-left: -1.75em;

                            > li {
                                MIXIN_DefineLiLeftSpaceWidth(3.75em);
                            }
                        }

                        > ol,
                        > ul {

                            > li {

                                > ol {
                                    margin-left: -2.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
