@import '../../_global-variables-mixins-and-functions'



.markdown-article-toc-toggling-button {
    MIXIN_defineFontSizes();
}



@media screen {

    {_selectorOf_article_rootParent}.markdown-article-toc-exists.markdown-article-toc-is-visible {
        MIXIN_forArticleParent_setMarginLeft(FontSize_Default, TOCPanel_width__default);
    }

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
        display: none;
    }

    .markdown-article-toc-is-visible {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
        display: flex;
    }



    $TOCTogglingButton_PaddingRight = 0.75em;
    $TOCTogglingButton_InnerFontSize = 0.8em;

    .markdown-article-toc-toggling-button {
        user-select: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid transparent;
        box-sizing: content-box;
        height: 1.25em;
        width: 3em;
        line-height: 1.25;
        padding-top: 0.15em;
        padding-bottom: 0.15em;
        padding-right: $TOCTogglingButton_PaddingRight;
        border-radius: 0 515px 515px 0;
        white-space: nowrap;

        position: fixed;
        top: 1em;

        cursor: pointer;

        transition: all 0.3s;

        left: -0.5em;
        transform: translateX(0);

        &:active,
        &:focus {
            outline: none;
        }
    }

    .markdown-article-toc-is-visible .markdown-article-toc-toggling-button {
        left: (TOCPanel_width__default / 2);
        transform: translateX(-50%);
        border-top-left-radius: 515px;
        border-bottom-left-radius: 515px;
    }

    .markdown-article-toc-toggling-button::before {
        font-size: $TOCTogglingButton_InnerFontSize;
        font-weight: bolder;
        font-family: inherit;
    }



    MIXIN_TOCTogglingButton_CalculatePaddingLeft(LetterSpacing) {
        padding-left: ($TOCTogglingButton_PaddingRight + LetterSpacing * $TOCTogglingButton_InnerFontSize);

        &::before {
            letter-spacing: LetterSpacing;
        }
    }

    .markdown-article-toc-toggling-button {
        MIXIN_TOCTogglingButton_CalculatePaddingLeft(LetterSpacing: 0.1em);

        &::before {
            content: 'TOC';
        }
    }

    {languageSelectors('zh', 'hans', 'CN')} {

        .markdown-article-toc-toggling-button {
            MIXIN_TOCTogglingButton_CalculatePaddingLeft(LetterSpacing: 0.75em);

            &::before {
                content: '目录';
            }
        }
    }
}
