@import '../../0-核心内容/0-尺寸基础/_mixins'



@media screen and (min-width: 1001px) {

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} li.is-collapsed {

        > li,
        > ol {
            display: none;
        }
    }
}



@media screen and (min-width: 2190px) {
    {_selectorOf_article_rootParent}.markdown-article-toc-exists.markdown-article-toc-is-visible {
        MIXIN_forArticleParent_setMarginLeft(
            FontSize_WhenWindowWidthNoLessThan_2190px,
            TOCPanel_defaultWidth,
        );
    }
}

@media screen and (min-width: 2879px) {
    {_selectorOf_article_rootParent}.markdown-article-toc-exists.markdown-article-toc-is-visible {
        MIXIN_forArticleParent_setMarginLeft(
            FontSize_WhenWindowWidthNoLessThan_2879px,
            TOCPanel_defaultWidth,
        );
    }
}

@media screen and (max-width: 1400px) and (min-width: 1001px) {

    {_selectorOf_article_rootParent}.markdown-article-toc-exists.markdown-article-toc-is-visible {
        MIXIN_forArticleParent_setMarginLeft(
            FontSize_Default,
            TOCPanel_width_whenWindowWidthNoMoreThan_1400px,
        );
    }

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
        width: TOCPanel_width_whenWindowWidthNoMoreThan_1400px;
    }

    .markdown-article-toc-is-visible .markdown-article-toc-toggling-button {
        left: (TOCPanel_width_whenWindowWidthNoMoreThan_1400px / 2);
    }
}





@media screen and (max-width: 1000px) {

    {_selectorOf_article_rootParent}.markdown-article-toc-exists.markdown-article-toc-is-visible {
        margin-left: 0;
    }

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
        width: TOCPanel_width_whenWindowWidthNoMoreThan_1000px;
    }

    .markdown-article-toc-is-visible .markdown-article-toc-toggling-button {
        left: (TOCPanel_width_whenWindowWidthNoMoreThan_1000px / 2);
    }
}





@media screen and (max-width: 600px) {

    {_selectorOf_article_rootParent}.markdown-article-toc-exists.markdown-article-toc-is-visible {
        margin-left: 0;
    }

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
        width: TOCPanel_width_whenWindowWidthNoMoreThan_600px;
    }

    .markdown-article-toc-toggling-button,
    .markdown-article-toc-is-visible .markdown-article-toc-toggling-button {
        left: (TOCPanel_width_whenWindowWidthNoMoreThan_600px / 2);
        transform: translateX(-50%);
        border-radius: 219px;
    }
}
