@import '../../_global-variables-mixins-and-functions'



@media print {

    {_selectorOf_TOC_byMarkdownItTOCDoneRight},
    .markdown-article-toc-is-visible {_selectorOf_TOC_byMarkdownItTOCDoneRight},
    .markdown-article-toc-toggling-button {
        display: none;
    }
}
