{__wrappingSelectorOf_markdownArticleLayoutRules} {

    a {
        text-decoration: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        text-shadow: inherit;
    }

    a:not([href]) {
        font-style: italic;
    }

    a[href] {
        border-bottom-color: currentColor;
    }

    a[href^="#"] {
        // So-called page local links.
        // They point to the page they are in.

        &:visited,
        & {
            border-bottom-color: transparent;
        }
    }

    a[href]:hover {
        text-decoration: none;
        border-bottom-color: currentColor;
    }
}
