{__wrappingSelectorOf_markdownArticleLayoutRules} {
    
    blockquote {
        // font-size: 1rem;
        box-sizing: border-box;
        max-width: 100%;
        max-width: calc(100% - 2rem);
        display: inline-block; // so that it has an auto width
        vertical-align: top;
        padding: 1px 1.2em 1px 1em;
        margin: 0 1rem 1.4em 1rem;
        border-style: solid;
    }

    // p, li, ul, ol, dl {

    //     + blockquote {
    //         margin-top: 0;
    //     }
    // }


    details {
        margin: 0.5rem auto 1.5rem auto;
    }

    summary {
        padding: 0.25em  0.5em;
        margin:  0      -0.5em;
    }

    pre + details {
        margin-top: -0.5rem;
    }
}
