{__wrappingSelectorOf_markdownArticleLayoutRules} {
    
    blockquote {
        // font-size: 1rem;
        box-sizing: border-box;
        max-width: 100%;
        display: inline-block; // so that it has an auto width
        vertical-align: top;
        border-style: solid;
        padding: 1px 1.2em 1px 1em;
        margin: 0 1rem 1.5rem;
    }

    details {
        margin:  0.5rem 1rem 1.5rem;
        padding: 0.5rem 1rem;
    }

    li > details {
        margin-left: 0;
        margin-right: 0;
    }

    summary {
        padding: 0.25rem 0.5rem;
        margin:  0.25rem -0.25rem;
    }

    pre + details {
        margin-top: -0.5rem;
    }
}
