body.has-toc.toc-is-visible {
    margin-left: 20rem;
}

nav.table-of-contents {
    display: none;
}

.toc-is-visible nav.table-of-contents {
    font-size: 0.8rem;

    display: block;
    box-sizing: border-box;
    width: 20rem;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;
    margin: 0;

    overflow: auto;
    scroll-behavior: smooth;
    color: #ccc;
    background-color: #222;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.toc-is-visible nav.table-of-contents > ul,
.toc-is-visible nav.table-of-contents > ol {
    display: inline-block;
    box-sizing: border-box;
    padding: 2rem 3rem 3rem 2rem;

    /* position: relative; */
    margin: 0;

    white-space: nowrap;
}

nav.table-of-contents a[href^="#"]:visited,
nav.table-of-contents a[href^="#"] {
    color: inherit;
    text-decoration: none;
}

nav.table-of-contents > ol ol ol,
nav.table-of-contents > ul ul ul {
    display: none;
}
