@import '../../_global_variables_mixins_and_functions'



{_selectorOf_backToTopLink} {

    & {
        MIXIN_defineFontSizes();
    
        z-index: 79;

        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        padding: 0;
        border: none;
        border-radius: 50%;

        position: fixed;
        right: 0;
        bottom: 1.5em;
        margin: 0.5em;

        cursor: pointer;
        outline: none;
    }

    &::before {
        content: '';
        display: inline-block;
        box-sizing: content-box;
        width: 0;
        height: 0;
        overflow: hidden;
        border: 0.32em solid transparent;
        border-bottom-color: initial;
        margin: 0 0 0.32em 1px;
    }
}
