@import '../../_global-variables-mixins-and-functions'



{_selectorOf_backToTopLink} {

    & {
        MIXIN_defineFontSizes();
    
        z-index: 51;

        box-sizing: border-box;
        // display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2.5em;
        padding: 0;
        border: 0;
        overflow: hidden;

        position: fixed;
        right: 0;
        bottom: 1.5em;
        margin: 0.5em;

        cursor: pointer;
        outline: none;
    }

    &::before {
        content: '';
        display: block;
        box-sizing: content-box;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 0;
        // margin: 0.25em 0 0 0.25em;
        margin: 0;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        box-sizing: content-box;
        width: 0;
        height: 0;
        border: 0.32em solid transparent;
        top: 0;
        left: 0.25em;
        bottom: 0.36em;
        right: 0.25em;
        margin: auto;
        border-bottom-color: currentColor;
    }
}
