{_selectorOf_backToTopLink} {

    @media (max-width: 900px) {
    }

    @media (max-width: 600px) {
        margin-right: -0.5em;
        // margin-right: 0;
        // width: 2em;

        // &::after {
        //     right: -0.25em;
        // }
    }
}
