@import '../../theming-variables'



{_selectorOf_article_root} {

    @media (max-width: 600px) {
        // Nothing yet
    }
}



{__wrappingSelectorOf_markdownArticleBaseThemingRules} {

    @media (max-width: 600px) {
        h1 {
            font-weight: 400;
        }
    }
}
