// In fact, the default value taken by the plugin is "nav.table-of-contents".
// But I've customized it.
_selectorOf_TOC_byMarkdownItTOCDoneRight = 'nav.markdown-article-toc'


_selectorOf_article_root = '.markdown-article'
_shouldIncludeGenerialOptionalPart_backToTopLink = true
