_sourceFileOrFolderNamesOf_articleLayout_______additionalParts = 'table-of-contents--via--markdown-it-toc-done-right'
_sourceFileOrFolderNamesOf_articleChiefTheming_additionalParts = 'table-of-contents--via--markdown-it-toc-done-right'
_sourceFileOrFolderNamesOf_codeBlockTheming____additionalParts = null

_shouldWrapAllCSSRulesOf_artcileLayout______withSelectorOf_article_root = true
_shouldWrapAllCSSRulesOf_articleBaseTheming_withSelectorOf_article_root = true
_shouldWrapAllCSSRulesOf_codeBlockTheming___withSelectorOf_article_root = false

@import '../../文章排版和配色样式之零件库/1-根据给出的变量集将零件组装成完整样式表'
