_sourceFileOrFolderNamesOf_articleLayout_______additionalParts = 'vscode'
_sourceFileOrFolderNamesOf_articleChiefTheming_additionalParts = 'vscode'
_sourceFileOrFolderNamesOf_codeBlockTheming____additionalParts = 'vscode'

_selectorOf_article_rootParent = 'html'
_selectorOf_article_root   = 'body'

// _selectorOf_article_backdropBackgroundColorCarrier = 'html'

_selectorsOf_fontFamily_baseFontFamilyCarriers = 'body' // For Microsoft VSCode, this is important to be 'body'!
_selectorsOf_fontSize_baseFontSizeCarriers = _selectorOf_article_root

_shouldNotEnableScrollSmoothlyFor_article_root = true // This is important!

// _shouldWrapAllCSSRulesOf_artcileLayout______withSelectorOf_article_root = false
// _shouldWrapAllCSSRulesOf_articleBaseTheming_withSelectorOf_article_root = false
// _shouldWrapAllCSSRulesOf_codeBlockTheming___withSelectorOf_article_root = false
