/* 以下 CSS 定义可能须变得的页面内容排版样式细节，例如边框粗细、矩形的圆角半径等。 */

{_selectorOf_markdownArticleRoot} {

    // Nothing yet
}




{__wrappingSelectorOf_markdownArticleBaseThemingRules} {

    img {
        border-radius: 0.5rem;
    }

    blockquote {
        border-width: 0 0 0 0.3rem;
        border-radius: 0.3rem;
    }

    table {
        border-width: 6px;
    }

    tr {
        border-width: 0;
    }

    thead tr:last-of-type {
        border-bottom-width: 3px;
    }

    th, td {
        border-width: 1px;
    }

    kbd, code {
        border-width: 1px;
    }

    kbd {
        border-radius: 0.25rem;
        margin: -0.15em 0.2em;
        padding: 0.15em 0.3em;

        position relative;
        top: -0.15em;
    }

    code {
        border-radius: 0.2rem;
        margin: 0.1em;
        padding: 0.1em 0.2em;
    }

    pre {
        border-radius: 0.3rem;
    }
}
