// ----------- title block of ouptut css file --------------------------------

if !_shouldNotOutputTitleBlock {
    @import '../0-titles-for-output-css/_default-title'

    if lookup('optionalPartName') {
        @import '../0-titles-for-output-css/optional-secondary-titles/' + optionalPartName + '/*'
    }
}





// ----------- base definitions ----------------------------------------------

@import '../1-base'





// ----------- layout definitions --------------------------------------------

@import '../2-layout/core'

if lookup('optionalPartName') {
    @import '../2-layout/optional-extra/' + optionalPartName + '/*'
}




// ----------- theming 1: base theming ---------------------------------------

@import '../3-theming/base-themes/' + _baseThemeName + '/core'

if lookup('optionalPartName') {
    @import '../3-theming/base-themes/' + _baseThemeName + '/optional-extra/' + optionalPartName
}




// ----------- theming 2: theming for code blocks -----------------------------

@import '../3-theming/code-blocks-themes'




// ----------- extra: e.g. printing media -------------------------------------

@import '../4-extra'
