h1, h2, h3, h4, h5, h6, dt, p {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

ul blockquote,
ol blockquote {
    margin-left: 0.5rem;
}

pre {
    border-radius: 0;
    overflow: visible;
}

.CodeMirror-scroll {
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    line-height: 1.33;
}


/*
    The rule below is not applied due to the
    size of fake "selected text backplate" requires
    the build-in 4px padding-left and padding-right
    of the pre.CodeMirror-line.
*/
/* .CodeMirror-code pre.CodeMirror-line {
    padding: 0;
} */

.typora-node content {
    padding: 3rem 1rem 4rem 1rem;
    background-color: #ddd;
}

#write {
    padding: 5rem 4rem 6rem 4rem;
    max-width: 50rem;
    margin: 0 auto;
    color: #383838;
    background-color: #fff;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
}




