& {
    _wrappingSelectorOfCodeBlocks = ''
    if _shouldWrapCodeBlockThemingRulesWithMarkdownArticleRootSelector {
        _wrappingSelectorOfCodeBlocks = _markdownArticleRootSelector
    }

    {_wrappingSelectorOfCodeBlocks} {
        @import './' + _codeBlocksTypeName + '/' + codeBlocksThemeName
    }
}
