{__wrappingSelectorOf_markdownArticleLayoutRoot} {

    h1, h2, h3, h4, h5, h6, dt, p {
        text-align: justify
        margin-left: -0.5em;
        margin-right: -0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    h1, h2, h3, h4, h5, h6, dt {
        letter-spacing: 0.05em;

        padding-top:    0.25em;
        padding-bottom: 0.25em;

        border-width: 0;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.25;

        margin-top:     2em;
        margin-bottom:  0.5em;

        padding-top:    0.25em;
        padding-bottom: 0.25em;
    }

    h2 {
        font-size: 1.9rem;
        line-height: 1.25;

        margin-top:    3em;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 1.35rem;
        line-height: 1.5;

        margin-top:    2em;
        margin-bottom: 0.3em;
    }

    h4 {
        font-size: 1.15rem;
        line-height: 1.5;

        margin-top:    2em;
        margin-bottom: 0.5em;
    }

    h5 {
        font-size: 1rem;
        line-height: 1.5;

        margin-top:    1.5em;
        margin-bottom: 0.5em;
    }

    h6, dt {
        font-size: 0.9rem;
        line-height: 1.5;

        margin-top:    1.5em;
        margin-bottom: 0.5em;
    }



    h5 + h6,
    h4 + h5,
    h3 + h4,
    h2 + h3 {
        margin-top: 0.5em;
    }

    h1 + h2 {
        // Nothing
    }

    // hr + h6,
    // hr + h5,
    // hr + h4,
    // hr + h3,
    // hr + h2,
    // hr + h1 {
    //     margin-top: 1em;
    // }



    blockquote, th, td, {

        > h6,
        > h5,
        > h4,
        > h3,
        > h2,
        > h1 {
            margin-top: 0.75em;
            margin-bottom: 0.25em;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
        }

        > h4,
        > h3,
        > h2,
        > h1 {

            ~ p:last-child {
                margin-bottom 1.25em
            }
        }
    }

    blockquote {

        > h6,
        > h5,
        > h4,
        > h3,
        > h2,
        > h1 {

            &:first-child {
                // margin-top: 0.25em;
            }
        }
    }

    th, td {

        > h6,
        > h5,
        > h4,
        > h3,
        > h2,
        > h1 {

            &:first-child {
                // margin-top: 0.25em;
            }
        }
    }




    p {
        margin-top:    0.5em;
        margin-bottom: 0.5em;

        padding-top:    0.25em;
        padding-bottom: 0.25em;

        line-height: 1.8;
    }
}
