@import '../../theming-variables'



__wrappingSelectorOf_markdownArticleBaseThemingRules = ''
if (_shouldWrapAllCSSRulesOf_articleBaseTheming_withSelectorOf_article_root) {
    __wrappingSelectorOf_markdownArticleBaseThemingRules = _selectorOf_article_root
}



@import './0-font-weights'
@import './1-measurements'
@import './2-measurements-in-small-windows'
@import './3-shading'
