//-------------------------------------------------
// Set values for all variable.
// Note:
//     Any variable starts with underscore('_') is an optional variable.
//     Others, required!
//-------------------------------------------------

_markdownArticleRootSelector = '.markdown-article'
// _fontFamily_baseFontFamilyCarrierSelectors = 'body, article, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, table'
_extraComponentName = 'table-of-contents--via--markdown-it-toc-done-write'

codeBlocksThemeName = 'atom-one-dark'
