@import './_shared-settings'

_shouldEnableTableOfContents = false
_shouldWrapLayoutRulesWith_markdownArticleRootSelector = true
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = true
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = true

@import '../to-assemble-all-parts'
