@import './_all-default-themes-shared-settings'

_optionalLayoutPartName           = 'table-of-contents--via--markdown-it-toc-done-write'
_optionalBaseThemingPartName      = 'table-of-contents--via--markdown-it-toc-done-write'
_optionalCodeBlockThemingPartName = null

_shouldWrapLayoutRulesWith_markdownArticleRootSelector = true
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = true
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = false

@import '../to-assemble-all-parts'
