@import './_shared-settings'

_optionalPartName = 'table-of-contents--via--markdown-it-toc-done-write'

_shouldWrapLayoutRulesWith_markdownArticleRootSelector = true
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = true
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = true

@import '../to-assemble-all-parts'
