@import './_all-default-themes-shared-settings'

_optionalLayoutPartName           = 'table-of-contents--via--markdown-it-toc-done-write'
_optionalbaseThemingPartName      = 'table-of-contents--via--markdown-it-toc-done-write'
_optionalCodeBlockThemingPartName = null

@import '../to-assemble-all-parts'
