/*
    This settings will NOT be produce any content
    in its output css file.

    I call a theme with either wrapper selectors,
    nor any extra things, a "simple-and-pure" theme,
    instead of something like "default--none-wrapped--no-toc".
    So, please refer to the "../__simple-and-pure" instead.

    A "simple-and-pure" version is very fit for
    snippets, but not only full articles.
    Thus it's special.
*/
