/* 以下 CSS 定义自适应排版规则。主要面向小尺寸屏幕或窗口。 */

@media (max-width: 900px) {
    html {
        font-size: 16px;
    }

    body {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 15px;
    }

    {_markdownArticleParentParentSelector} {
        padding: 0;
    }
}
