@import '../../../../_global-variables-mixinx-and-functions'
@import '../../theming-variables'
@import '../font-family-of-toc'



@media screen {

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
        color: #999;
        background-color: #000;
        box-shadow: 0 0 0.3em rgba(black, 0.79);



        > ul,
        > ol {
            MIXIN_DefineWebkitScrollBar(white, $SizeScale = 1.25);
            MIXIN_DefineFireFoxScrollBar(#ccc);
        }

        li {

            &::before {
                color: #444;
            }

            > a[href^="#"] {
                color: inherit;
                border-color: transparent;
            }
        }



        & > ol > li,
        & > ul > li,
        &:not(.should-show-2-levels-at-most) li {

            &.has-nested-toc-list {

                &.is-expanded {

                    > a[href^="#"] {
                        color: #374;
                    }
                }

                > a[href^="#"] {
                    color: #6d8;

                    &:hover {
                        color: #6d8;
                        background-color: #dfe1;
                    }
                }
            }
        }



        li > a[href^="#"] {

            &:hover {
                border-color: rgba(white, 0.1) transparent;
                background-image: linear-gradient(to right, transparent 0.25em, rgba(white, 0.1) 4em, transparent)
            }
        }
    }

    .markdown-article-toc-toggling-button {
        color: #000;
        border-color: #f03090;
        background-color: #eb52d1;
        background-image: linear-gradient(23deg, #f1f 19%, #f88 45%, #ffa 87%);
        box-shadow: 0 0 0.15em #c93d91;
    }
}





@media screen and (max-width: 1000px) {

    {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
        // 在较窄之窗口或屏幕中，文章纲要面板展开时与文章本体在布局上有交叠。纲要面板覆盖这主体。
        // 因此须令纲要面板之底色少许透明。
        // 又，若浏览器支持背景模糊效果，则纲要面板之底色透明度应再提升些许。

        background-color: rgba(black, 0.93);

        @supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
            background-color: rgba(black, 0.79);
        }

        @supports (backdrop-filter: blur(20px)) {
            backdrop-filter: blur(20px)
        }

        @supports (-webkit-backdrop-filter: blur(20px)) {
            -webkit-backdrop-filter: blur(20px)
        }

        & > ol > li,
        & > ul > li,
        &:not(.should-show-2-levels-at-most) li {

            &.has-nested-toc-list {

                &,
                &.is-expanded {

                    > a[href^="#"]:not(:hover):not(:active):not(:focus) {
                        color: #aaa;
                    }
                }
            }
        }
    }
}
