FontSize_WhenWindowWidthNoMoreThan_600px  = 16px
FontSize_Default                          = 20px
FontSize_WhenWindowWidthNoLessThan_2190px = 28px
FontSize_WhenWindowWidthNoLessThan_2879px = 40px

MIXIN_defineFontSizes() {
    font-size: 20px;

    @media screen and (min-width: 2190px) {
        font-size FontSize_WhenWindowWidthNoLessThan_2190px
    }

    @media screen and (min-width: 2879px) {
        font-size FontSize_WhenWindowWidthNoLessThan_2879px
    }

    // @media screen and (max-width: 900px) {
    //     font-size: 18px;
    // }

    @media screen and (max-width: 600px) {
        font-size: FontSize_WhenWindowWidthNoMoreThan_600px;
    }
}
