{_selectorOf_backToTopLink},
{_selectorOf_tocByMarkdownItTOCDoneRight},
{_selectorsOf_fontFamily_baseFontSizeCarriers} {
    font-size: 20px;

    @media screen and (min-width: 1960px) {
        font-size 36px
    }

    @media screen and (min-width: 2600px) {
        font-size 50px
    }

    // @media screen and (max-width: 900px) {
    //     font-size: 18px;
    // }

    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}
