// Check all required variables

@import '../utils/check-required-variable'

checkRequiredVariable(
    variableName: 'codeBlocksThemeName',
    exampleValue: 'atom-one-dark'
)





// Try setting optional variables to their default values

@import '../utils/apply-default-value-to-variable-if-needed'
    
applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_fontFamily_baseFontFamilyCarrierSelectors',
    defaultValue: 'html'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_fontFamily_monospaceFontFamilyCarrierSelectors',
    defaultValue: 'kbd, pre, code'
)

if !lookup('_markdownArticleRootSelector') {
    _markdownArticleRootSelector = ''
    _shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = false
}

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_markdownArticleParentSelector',
    defaultValue: 'body'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_markdownArticleParentParentSelector',
    defaultValue: 'html'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_markdownArticleBackplateBackgroundColorCarrierSelector',
    defaultValue: 'html'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_baseThemeName',
    defaultValue: 'theme-0'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_codeBlocksTypeName',
    defaultValue: 'highlightjs'
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldNotOutputTitleBlock',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldEnableTableOfContents',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldWrapBaseLayoutRulesWith_markdownArticleRootSelector',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector',
    defaultValue: false
)

applyDefaultValueToAGlobalVariableIfNeeded(
    variableName: '_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector',
    defaultValue: false
)








// ----------- title block of ouptut css file ---------------------------------

if !_shouldNotOutputTitleBlock {
    @import './0-titles-for-output-css/_default-title'

    if lookup('optionalPartName') {
        @import './0-titles-for-output-css/optional-secondary-titles/' + optionalPartName + '/*'
    }
}







// ----------- base definitions -----------------------------------------------

@import './1-base/*'







// ----------- layout definitions ---------------------------------------------

@import './2-layout/core'

if lookup('optionalPartName') {
    @import './2-layout/optional-extra/' + optionalPartName + '/*'
}






// ----------- theming 1: base theming ----------------------------------------

@import './3-theming/base-themes/' + _baseThemeName + '/core'

if lookup('optionalPartName') {
    @import './3-theming/base-themes/' + _baseThemeName + '/optional-extra/' + optionalPartName + '/*'
}






// ----------- theming 2: theming for code blocks -----------------------------

@import './3-theming/code-blocks-themes'






// ----------- extra: e.g. printing media -------------------------------------

@import './4-extra/*'
