{__wrappingSelectorOf_markdownArticleLayoutRules} {

    @media (max-width: 900px) {

        // h1 {
        //     font-size: 2.4rem;
        // }

        // h2 {
        //     font-size: 1.9rem;
        // }

        // h3 {
        //     font-size: 1.35rem;
        // }

        // h4 {
        //     font-size: 1.2rem;
        // }

        blockquote {
            font-size: 100%;
        }
    }

    @media (max-width: 600px) {
        h1 {
            font-size: 1.8rem;
        }

        h2 {
            font-size: 1.6rem;
        }

        h3 {
            font-size: 1.4rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        h5 {
            font-size: 1.1rem;
        }

        h6 {
            font-size: 1.0rem;
        }

        ul, ol {
            padding-left: 1.8em;
            padding-right: 0;
        }

        blockquote {
            margin-left:  0;
            margin-right: 0;
            // max-width: 100%;
        }

        details {
            margin-left:  0;
            margin-right: 0;
        }

        table {
            max-width: none;
            width: 100%;
        }

        td {
            max-width: 400px;
        }

        pre {
            margin-left:  0;
            margin-right: 0;
        }

        /* blockquote, */ table {

            pre > code {
                white-space: normal !important;
                word-break: break-all;
            }
        }

        hr {
            margin: 1.5rem auto 2rem 0;
        }

        video {
            width: 100%;
        }
    }
}
