_optionalLayoutPartName           = 'typora'
_optionalBaseThemingPartName      = 'typora'
_optionalCodeBlockThemingPartName = null

_folderNameOf_codeBlocksType = 'code-mirror'

_selectorOf_markdownArticleParent = '.typora-node > content'
_selectorOf_markdownArticleRoot   = '.typora-node   #write'

_selectorOf_markdownArticleBackplateBackgroundColorCarrier = 'html'

_shouldWrapLayoutRulesWith_selectorOf_markdownArticleRoot = false
_shouldWrapBaseThemingRulesWith_selectorOf_markdownArticleRoot = false
_shouldWrapCodeBlockThemingRulesWith_selectorOf_markdownArticleRoot = false
