@import '../../theming-variables'



{_selectorOf_article_root} {
    // Nothing yet.
}



{__wrappingSelectorOf_markdownArticleBaseThemingRules} {

    thead tr,
    th {
        border-color: #222 !important;
    }

    td {
        border-color: #bbb !important;
    }
}
