checkRequiredVariable(variableName, exampleValue) {
    if !lookup(variableName) {
        error('Stylus variable REQUIRED: ' + varName + '.\n                 example: ' + varName + ' = "' + exampleValue + '"')
    }
}
