{_selectorOf_backToTopLink} {

    $ {
        z-index: 79;

        font-size: 1rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        // line-height: 2;
        padding: 0;
        border: none;
        border-radius: 50%;

        position: fixed;
        right: 0;
        top: 0;
        margin: 0.5rem;

        cursor: pointer;
        outline: none;
        background-image: linear-gradient(-45deg, cyan 20%, lime);
        box-shadow: 1px 1px 0.3em rgba(0, 192, 0, 0.6);
    }

    &::before {
        content: '';
        display: inline-block;
        box-sizing: content-box;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 0.32em solid transparent;
        margin: 0 0 0.32em 1px;
    }
}
