// ----- Fonts -----

& {
	font-family: 'Microsoft Yahei UI', '微软雅黑';


    kbd,
    pre,
    code {
        font-family: 'PT Mono', 'consolas', 'Courier New', monospace, 'Microsoft Yahei UI', '微软雅黑';
    }
}





// ----- Measurements -----

minxin-responsive-measurements(fontSizeAsRem) {
    & {
        font-size: fontSizeAsRem;
    }

    h1 {
        margin-top:    9   * fontSizeAsRem !important;
        margin-bottom: 1.5 * fontSizeAsRem !important;

        &:first-of-type,
        &:first-child {
            margin-top: 6  * fontSizeAsRem !important;
        }
    }

    hr + h1 {
        margin-top:    1.5 * fontSizeAsRem !important;
    }

    h2 {
        margin-top:    5   * fontSizeAsRem !important;
        margin-bottom: 1   * fontSizeAsRem !important;
    }

    h1 + h2 {
        margin-top:    2   * fontSizeAsRem !important;
    }

    hr + h2 {
        margin-top:    1   * fontSizeAsRem !important;
    }

    h3 {
        margin-top:    2.8 * fontSizeAsRem !important;
        margin-bottom: 0.5 * fontSizeAsRem !important;
    }

    h1 + h3 {
        margin-top:    2   * fontSizeAsRem !important;
    }

    h2 + h3 {
        margin-top:    1   * fontSizeAsRem !important;
    }

    hr + h3 {
        margin-top:    0.5 * fontSizeAsRem !important;
    }

    h4 {
        margin-top:    2   * fontSizeAsRem !important;
        margin-bottom: 0.5 * fontSizeAsRem !important;
    }

    hr + h4 {
        margin-top:    0.5 * fontSizeAsRem !important;
    }

    h5 {
        margin-top:    1.5 * fontSizeAsRem !important;
        margin-bottom: 0.5 * fontSizeAsRem !important;
    }

    hr + h5 {
        margin-top:    0.5 * fontSizeAsRem !important;
    }

    kbd {
        border-radius: 0.3 * fontSizeAsRem !important;
    }

    code {
        border-radius: 0.2 * fontSizeAsRem !important;
    }

    pre {
        border-radius: 0.2 * fontSizeAsRem !important;
    }
}

defaultFontSizeAsRem = 24px;
smallFontSizeAsRemInNarrowWindow = 18px;
articleBlockMaxWidthMeasuredInCharsCount = 60;

articleBlockMaxWidth = defaultFontSizeAsRem * articleBlockMaxWidthMeasuredInCharsCount;

& {
    minxin-responsive-measurements(fontSizeAsRem: defaultFontSizeAsRem);
}

@media screen and (max-width: articleBlockMaxWidth) {
    minxin-responsive-measurements(fontSizeAsRem: smallFontSizeAsRemInNarrowWindow);
}



& {
    box-sizing: content-box !important;
    max-width: articleBlockMaxWidth;
    margin: auto;
	line-height: 1.75;
    padding: 2em 5em;


    small {
        font-size: .707em;
    }

    h1 {
        font-size:   300%;
        font-weight: 300;
    }

    h2 {
        font-size:   180%;
        font-weight: 300;
    }

    h3 {
        font-size:   130%;
        font-weight: 400;
    }

    h4 {
        font-size:   110%;
        font-weight: 500;
    }

    h5 {
        // font-size:   100%;
        font-weight: 700;
    }

    // pre {
    //     font-size: 100%;
    // }




    // Horizontal Alignments
    h1, h2, h3, h4, h5, h6, dt {
        margin-left:  -0.5rem;
        margin-right: -0.5rem;
        padding:       0.5rem;
    }

    // h1, h2, h3, h4, h5, h6 {
    //     text-align: center;
    // }

    ul,
    ol,
    p,
    dd {
        margin-left:  0.5rem;
        margin-right: 0.5rem;
    }

    pre {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    table pre:last-child {
        margin-bottom: 0;
    }

    blockquote {
        margin-left: 2.5rem;
        margin-right: 1.5rem;

        ul,
        ol,
        p,
        dd {
            margin-left: 0;
            margin-right: 0;
        }

        pre {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }




    // So-called "local" Measurements
    hr {
        margin: 1rem 0;
        padding: 0;
        height 0;
        overflow hidden;
        border-width: 1px 0 0;
        border-style: solid;
    }

    img {
        border-style: solid;
        border-width: 8px;
    }

    a, code, kbd {
        font-size: inherit !important;
    }

    h1, h2, h3, h4, h5, h6, dt {
        border-width: 0;
    }

    ul,
    ol,
    dl,
    blockquote {
        // font-size: inherit !important;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.25em 0.5em;
    }

    li {
        margin: 1em 0;
    }

    ul,
    ol {
        padding-left: 2em;
    }

    blockquote,
    table {
        padding: 0.5em 1em;
        border-left-width: 0.3rem;

        ul,
        ol,
        dl,
        li,
        p {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }

    code,
    kbd {
        display inline-block;
        vertical-align: baseline;
        box-sizing: content-box;
        min-height: 1em;
        min-width: 0.5em;
        line-height: 1 !important;
        font-size: inherit !important;
        font-weight: normal;
        font-style: normal;
        border-width: 1px;
        border-style: solid;
    }

    kbd {
        margin: -5px 0.1em !important;
        padding: 4px 0.3em;
    }

    code {
        margin: -3px 0.1em !important;
        padding: 2px 0.2em !important;
    }

    pre {
        overflow-x: scroll;
        padding: 0.25em !important;

        &,
        code,
        code * {
            white-space pre !important;
            word-wrap none !important;
            word-break: keep-all !important;
            text-align: left !important;
        }

        // code,
        // code * {
        //     padding: 0 !important;
        // }

        code {
            display: block;
            margin:       0    !important;
            padding:      0    !important;
            border-width: 0    !important;
            line-height:  1.33 !important;
        }
    }



    // Usually is an <H1>
    :first-child {
        margin-top: 0 !important;
    }
}