// ----- Fonts -----

& {
	font-family: 'Microsoft Yahei UI', '微软雅黑';


    kbd,
    pre,
    code {
        font-family: 'PT Mono', 'consolas', 'Courier New', monospace;
    }
}





// ----- Measurements -----

minxin-responsive-measurements(fontSizeAsRem) {
    & {
        font-size: fontSizeAsRem;
        line-height: 1.5;
    }

    h1 {
        margin-top:    8   * fontSizeAsRem !important;
        margin-bottom: 1.5 * fontSizeAsRem !important;
        font-size:     2.8 * fontSizeAsRem;
    }

    hr + h1 {
        margin-top:    1.5 * fontSizeAsRem !important;
    }

    h2 {
        margin-top:    4   * fontSizeAsRem !important;
        margin-bottom: 1   * fontSizeAsRem !important;
        font-size:     1.8 * fontSizeAsRem;
    }

    hr + h2 {
        margin-top:    1   * fontSizeAsRem !important;
    }

    h3 {
        margin-top:    3   * fontSizeAsRem !important;
        margin-bottom: 0.5 * fontSizeAsRem !important;
        font-size:     1.2 * fontSizeAsRem;
    }

    hr + h3 {
        margin-top:    0.5 * fontSizeAsRem !important;
    }

    h4 {
        margin-top:    2   * fontSizeAsRem !important;
        margin-bottom: 0.5 * fontSizeAsRem !important;
        font-size:     1.1 * fontSizeAsRem;
    }

    hr + h4 {
        margin-top:    0.5 * fontSizeAsRem !important;
    }

    h5 {
        margin-top:    1.5 * fontSizeAsRem !important;
        margin-bottom: 0.5 * fontSizeAsRem !important;
        font-size:     1   * fontSizeAsRem;
    }

    hr + h5 {
        margin-top:    0.5 * fontSizeAsRem !important;
    }

    pre {
        font-size: 1 * fontSizeAsRem;
    }

    kbd {
        border-radius: 0.3 * fontSizeAsRem !important;
    }

    code {
        border-radius: 0.2 * fontSizeAsRem !important;
    }

    pre {
        border-radius: 0.2 * fontSizeAsRem !important;
    }

    table,
    p,
    li,
    dd {
        font-size: 1 * fontSizeAsRem;
    }
}

defaultFontSizeAsRem = 24px;
smallFontSizeAsRemInNarrowWindow = 18px;
articleBlockMaxWidthMeasuredInCharsCount = 60;

articleBlockMaxWidth = defaultFontSizeAsRem * articleBlockMaxWidthMeasuredInCharsCount;

& {
    minxin-responsive-measurements(fontSizeAsRem: defaultFontSizeAsRem);
}

@media screen and (max-width: articleBlockMaxWidth) {
    minxin-responsive-measurements(fontSizeAsRem: smallFontSizeAsRemInNarrowWindow);
}



& {
    box-sizing: content-box !important;
    max-width: articleBlockMaxWidth;
    margin: auto;
	line-height: 1.5;
    padding: 2em 4em;

    h1 {
        font-weight: 300;
    }

    h2 {
        font-weight: 300;
    }

    h3 {
        font-weight: 500;
    }

    h4 {
        font-weight: 500;
    }

    h5 {
        font-weight: 600;
    }

    small {
        font-size: .707em;
    }



    // Horizontal Alignments
    h1, h2, h3, h4, h5, h6, dt {
        margin-left:  -0.5rem;
        margin-right: -0.5rem;
        padding:       0.5rem;
    }

    ul,
    ol,
    p,
    dd {
        margin-left:  0.5rem;
        margin-right: 0.5rem;
    }

    pre {
        padding: 0 !important;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    table pre:last-child {
        margin-bottom: 0;
    }

    blockquote {
        margin-left: 2.5rem;
        margin-right: 1.5rem;

        ul,
        ol,
        p,
        dd {
            margin-left: 0;
            margin-right: 0;
        }

        pre {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }




    // So-called "local" Measurements
    hr {
        margin: 1rem 0;
        padding: 0;
        height 0;
        overflow hidden;
        border-width: 1px 0 0;
        border-style: solid;
    }

    img {
        border-style: solid;
        border-width: 8px;
    }

    a, code, kbd {
        font-size: inherit !important;
    }

    h1, h2, h3, h4, h5, h6, dt {
        text-align: left;
        border-width: 0;
    }

    ul,
    ol,
    dl,
    blockquote {
        // font-size: inherit !important;
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        padding: 0.25em 0.5em;
    }

    li {
        margin: 1em 0;
    }

    ul,
    ol {
        padding-left: 2em;
    }

    blockquote, table {
        padding: 0.5em 1em;
        border-left-width: 0.3rem;

        ul,
        ol,
        dl,
        li {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }

    code,
    kbd {
        display inline-block;
        font-size: inherit !important;
        font-weight: normal;
        font-style: normal;
        border-width: 1px;
        border-style: solid;
    }

    kbd {
        line-height: inherit !important;
        margin: -1px 0 !important;
        padding: 0 0.5em;
    }

    code {
        line-height: 1.2 !important;
        margin: -3px 0     !important;
        padding: 2px 0.3em !important;
    }

    pre {
        overflow-x: scroll;

        // &,
        // code,
        // code * {
        //     white-space pre !important;
        // }

        // code,
        // code * {
        //     padding: 0 !important;
        // }

        code {
            display: block;
            margin:       0    !important;
            padding:      0    !important;
            border-width: 0    !important;
            line-height:  1.33 !important;
        }
    }



    // Usually is an <H1>
    :first-child {
        margin-top: 0 !important;
    }
}