codeBlocksThemeName = 'atom-one-dark'

_markdownArticleRootSelector = '.markdown-article'
// _fontFamily_baseFontFamilyCarrierSelectors = 'thml, body, article, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, table'
