codeBlocksThemeName = 'atom-one-dark'

// In fact, the default value taken by the plugin is "nav.table-of-contents".
// But I've customized it.
_selectorOf_tocByMarkdownItTOCDoneRight = 'nav.markdown-article-toc'

_markdownArticleRootSelector = '.markdown-article'
