{__wrappingSelectorOf_markdownArticleLayoutRules} {

    small, sup, sub {
        font-size: 70%;
    }

    blockquote {
        
        strong,
        b,
        em {
            color: inherit;
        }
    }
}
