{__wrappingSelectorOf_markdownArticleLayoutRules} {
    
    blockquote {
        font-size: 0.8rem;
        box-sizing: border-box;
        max-width: 100%;
        max-width: calc(100% - 2rem);
        display: inline-block; // so that it has an auto width
        vertical-align: top;
        padding: 0.5em 1.2em 0.6em 1em;
        margin: 0.5em 1rem 1.5em 1rem;
        border-style: solid;
    }
}
