.hljs-keyword {

    &.var, &.const, &.let {
        color: #f66;
    }

    &.new, {
        color: #f99;
    }
    
    &.in, &.of, &.typeof, &.instanceof {
        color: #f99;
    }

    &.this {
        color: #f99;
    }

    &.delete {
        color: #f37;
    }

    &.return, &.yield {
        color: #f67;
    }

    &.thow {
        color: #f57;
    }

    &.switch, &.case {
        color: #f68;
    }

    &.for, &.do, &.while {
        color: #f69;
    }

    &.if, &.then, &.else, &.elif {
        color: #f76;
    }

    &.break, &.continue, {
        color: #f77;
    }

    &.try, &.catch, &.finally {
        color: #7f7;
    }

    &.default {
        color: #f78;
    }

    &.import, &.export {
        color: #f79;
    }

    &.await, &.async {
        color: #f80;
    }

    &.class, &.extends, &.super {
        color: #f99;
    }

    &.interface, &.implements {
        color: #f99;
    }

    &.public, &.protected, &.private, &.static {
        color: #f99;
    }

    &.debugger {
        color: #f79;
    }
}