.hljs-keyword {

    &.var {
        color: #a67;
    }

    &.new, {
        color: #f36;
    }

    &.in, &.of, &.instanceof {
        color: #96a;
    }

    &.typeof {
        color: #a97;
    }

    &.this {
        // color: #f99;
        color: #6fa;
    }

    &.delete {
        // color: #f37;
    }

    &.switch, &.case {
        color: #965;
    }

    &.for, &.do, &.while {
        color: #965;
    }

    &.if, &.then, &.else, &.elif {
        color: #965;
    }

    &.try, &.catch, &.finally {
        color: #965;
    }

    &.return, &.yield {
        color: #fb9;
        // background-color: #b67;
        // border-radius: 0.2em;
    }

    &.break, {
        color: #fb9;
    }

    &.continue, {
        color: #fb9;
    }

    &.throw {
        // color: #fff;
        // background-color: #900;
        // border-radius: 0.2rem;
        color: #f64;
    }

    &.default {
        color: #fb9;
    }

    &.const, &.let {
        color: #dd5175;
    }

    &.import, &.from, &.export {
        color: #dd5175;
    }

    &.await, &.async {
        color: #dd5175;
    }

    &.class, &.extends, &.super {
        // color: #f99;
    }

    &.interface, &.implements {
        // color: #f99;
    }

    &.public, &.protected, &.private, &.static {
        // color: #f99;
    }

    &.debugger {
        // color: #f79;
    }
}