.hljs-built_in {

    &.window, &.global {
        color: #66c;
    }

    &.Object {
        color: #77c;
    }

    &.Error, &.SyntaxError, &.EvalError, &InternalError, &.TypeError, &.ReferenceError, &.RangeError, &.URIError {
        color: #55c;
    }

    &.document {
        color: #65c;
    }
    
    &.Math, &.Date {
        color: #68c;
    }
    
    &.RegExp {
        color: #69c;
    }

    &.Array, &.Set {
        color: #70c;
    }

    &.Number, &.Boolean, &.String {
        color: #80c;
    }

    &.Storage {
        color: #90c;
    }

    &.jQuery {
        color: #a1c;
    }

    &._ {
        color: #a0c;
    }
}