.hljs-literal { // NaN, true, false
    color: #2ef;

    &.undefined {
        color: #578;
    }

    &.null {
        color: #7ab;
    }

    &.true {
        color: #98f;
    }

    &.false {
        color: #86d;
    }

    &.NaN {
        color: #f65;
    }

}

.language-typescript,
.language-ts,
.language-javascript,
.language-js,
.javascript { // <script>

    .hljs-number {
        color: #f63;
    }
}
