.wlc-punctuation {
    color: #666;

    &.wlc-parenthesis, &.wlc-square-bracket, &.wlc-curly-brace {}

    &.wlc-parenthesis {
        &.wlc-parenthesis-open {}
        &.wlc-parenthesis-close {}
    }

    &.wlc-square-bracket {
        &.wlc-square-bracket-open {}
        &.wlc-square-bracket-close {}
    }

    &.wlc-curly-brace {
        &.wlc-curly-brace-open {}
        &.wlc-curly-brace-close {}
    }


    &.wlc-colon {}
    &.wlc-semi-colon {}
    &.wlc-comma {}
    &.wlc-period {}

    &.wlc-greater-than-sign,
    &.wlc-greater-than-or-equal-to-sign,
    &.wlc-less-than-sign,
    &.wlc-less-than-or-equal-to-sign {
        color: #fb8;
    }
    &.wlc-tripple-equal-signs {
        color: #fba;
    }
    &.wlc-exclamation-mark-and-double-equal-signs {
        color: #a35;
    }

    &.wlc-exclamation-mark-and-equal-sign,
    &.wlc-double-equal-signs {
        color: #f33;
        background-color: #f333;
    }

    &.wlc-double-pipes {
        color: #949;
    }
    &.wlc-double-ampersands {
        color: #f0f;
    }
    &.wlc-pipe {
        color: cyan;
    }
    &.wlc-exclamation-marks {
        &.even-count {
            color: #abed69;
        }
        &.odd-count {
            color: #f15;
        }
    }


    &.wlc-equal-sign {
        color: #678;
    }


    &.wlc-question-mark {}

    &.wlc-asterisk,
    &.wlc-forward-slash,
    &.wlc-percentage-sign,
    &.wlc-plus-sign,
    &.wlc-plus-plus-sign,
    &.wlc-minus-sign,
    &.wlc-minus-minus-sign,
    &.wlc-minus-sign {
        color: #f79;
    }

    &.wlc-negative-sign {
        color: #9f3;
    }
    &.wlc-positive-sign {
        color: #39f;
    }

    &.wlc-arrow-function-sign {
        color: #7ae;
    }
}


.wlc-function-name,
.hljs-function .hljs-title { // javascript: function "name"
    color: #f9f;
}


.wlc-built-in-method-name {
    color: #9d6;
}

.wlc-escape-char {
    color: #c75;

    .slash {
        opacity: 0.319;
    }

    .escaped-char {
    }
}

.hljs-string {

    .wlc-escape-char {
        color: #c75;

        .slash {
        }

        .escaped-char {
        }
    }
}

.hljs-regexp {

    &,
    .wlc-escape-char {
        color: #f6e;
    }

    .regexp-options {
        color: #3e1;
    }

    .regexp-selector-input-begin,
    .regexp-selector-input-end {
        color: #48f;
    }

    .regexp-body {
        background-color: rgba(#f6e, 0.08);
        // background-color: rgba(#fff, 0.06);
    }

    .wlc-escape-char {
        // color: #f75;

        .slash {
        }

        .escaped-char {
        }
    }


    .regexp-selector-char {

        &,
        &.wlc-escape-char {
            color: #4f9;
        }

        &.wlc-escape-char {

            .slash {
                opacity: 0.79;
            }

            .escaped-char {
            }
        }
    }

    .regexp-control-char {

        &,
        &.wlc-escape-char {
            color: #379;
        }

        &.wlc-escape-char {

            .slash {
                opacity: 0.79;
            }

            .escaped-char {
            }
        }
    }


    .wlc-digit-pair-between-curly-braces {

        .digit {
            color: #f63;
        }

        .comma {
            color: #666;
        }
    }
}
