.wlc-parenthesis,
.wlc-square-bracket,
.wlc-curly-brace {
    color: #666;
}

.wlc-function-name,
.hljs-function .hljs-title { // javascript: function "name"
    color: #f9f;
}

.wlc-escape-char,
.hljs-string .wlc-escape-char {
    color: #c75;
}

.hljs-regexp {
    color: #f6e;

    .regexp-body {
        background-color: rgba(#f6e, 0.08);
        // background-color: rgba(#fff, 0.06);
    }

    .regexp-options {
        color: #3e1;
    }

    .regexp-selector-input-begin,
    .regexp-selector-input-end {
        color: #48f;
    }

    .wlc-escape-char {
        color: rgba(#f75, 0.3);

        .escaped-char {
            color: #f75;
        }
    }

    .wlc-digit-pair-between-curly-braces {

        .digit {
            color: #f63;
        }

        .comma {
            color: #666;
        }
    }
}
