@import '../../theme-0/optional-extra/font-family-of-toc'



// @import '../theming-variables'



// {_selectorOf_TOC_byMarkdownItTOCDoneRight} {
//     if (_fontFamilyValueOf_articleTOCRoot) {
//         font-family: _fontFamilyValueOf_articleTOCRoot;
//     }
// }
