@import '../theming-variables'



__fontFamily_importantMark = ''

if (_shouldMarkImportantForValueOf_fontFamily) {
    __fontFamily_importantMark = '!important'
}

{_selectorsOf_fontFamily_baseFontFamilyCarriers}, button, input, textarea, select, option {
    font-family: _fontFamilyValueOf_articleFontFamilyCarrier unquote(__fontFamily_importantMark);

    // @media screen and (min-width: 2879px) {
    //     font-family: 'Segoe UI', '楷体', 'Microsoft YaHei UI', 'Lucida Grande', Helvetica, sans-serif unquote(__fontFamily_importantMark);
    // }
}

{_selectorsOf_fontFamily_inlineCodes_akaTerms} {
    if lookup('_fontFamilyValueOf_inlineCodes_akaTerms') {
        font-family: _fontFamilyValueOf_inlineCodes_akaTerms;
    } else {
        font-family: inherit unquote(__fontFamily_importantMark);
        // font-family: 'Cascadia Code', 'PT Mono', 'consolas', 'Courier New', Courier, 'Microsoft YaHei UI', 'Microsoft YaHei', '微软雅黑', monospace unquote(__fontFamily_importantMark);
    }
}

{_selectorsOf_fontFamily_monospaceFontFamilyCarriers} {
    if lookup('_fontFamilyValueOf_blockCodes_akaProgramingSnippets') {
        font-family: _fontFamilyValueOf_blockCodes_akaProgramingSnippets;
    } else {
        font-family: monospace unquote(__fontFamily_importantMark);
        // font-family: 'Cascadia Code', 'PT Mono', 'consolas', 'Courier New', Courier, 'Microsoft YaHei UI', 'Microsoft YaHei', '微软雅黑', monospace unquote(__fontFamily_importantMark);
    }
}
