/*
    Set values for all variable.

    Note:
        Any variable starts with underscore('_') is an optional variable.
        Others, required!
*/

_markdownArticleRootSelector = '.markdown-article'
// _fontFamily_baseFontFamilyCarrierSelectors = 'body, article, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, table'

codeBlocksThemeName = 'atom-one-dark'




/*
    Now all variables are set.
    Let's import all parts.
    Those parts will utilize
    those variables and produce
    customized css accordingly.
*/
@import '../../markdown-style-parts'
