// _fontFamilyValueOf_articleFontFamilyCarrier         = sans-serif, '微软雅黑', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Segoe UI', 'Lucida Grande', Helvetica
_fontFamilyValueOf_articleFontFamilyCarrier         = serif //, '方正屏显雅宋简体'
_fontFamilyValueOf_inlineCodes_akaTerms             = inherit
_fontFamilyValueOf_blockCodes_akaProgramingSnippets = monospace, _fontFamilyValueOf_articleFontFamilyCarrier // , 'Cascadia Code', 'PT Mono', 'consolas', 'Courier New', Courier, '方正屏显雅宋简体', '微软雅黑', 'Microsoft YaHei UI', 'Microsoft YaHei'
_fontFamilyValueOf_articleTOCRoot                   = _fontFamilyValueOf_articleFontFamilyCarrier
