{_selectorOf_markdownArticleBackplateBackgroundColorCarrier} {
    background-color: #333;
}

if (_selectorOf_markdownArticleBackplateBackgroundColorCarrier == 'html' && _selectorOf_markdownArticleRoot != 'body') {
    body {
        background-color: transparent;
    }
}
