_shouldWrapLayoutRulesWith_selectorOf_markdownArticleRoot = true
_shouldWrapBaseThemingRulesWith_selectorOf_markdownArticleRoot = true
_shouldWrapCodeBlockThemingRulesWith_selectorOf_markdownArticleRoot = false

@import '../../article-style-parts/assemble-article-styles'
