_optionalLayoutPartName           = 'table-of-contents--via--markdown-it-toc-done-write'
_optionalBaseThemingPartName      = 'table-of-contents--via--markdown-it-toc-done-write'
_optionalCodeBlockThemingPartName = null

@import '../../article-style-parts/assemble-article-styles'
