codeBlocksThemeName = 'atom-one-dark'

_optionalPartName = 'typora'
_codeBlocksTypeName = 'code-mirror'

_markdownArticleParentSelector = '.typora-node > content'
_markdownArticleRootSelector   = '.typora-node   #write'

_markdownArticleBackplateBackgroundColorCarrierSelector = 'html'

_shouldWrapLayoutRulesWith_markdownArticleRootSelector = false
_shouldWrapBaseThemingRulesWith_markdownArticleRootSelector = false
_shouldWrapCodeBlockThemingRulesWith_markdownArticleRootSelector = false

@import '../to-assemble-all-parts'
